<% content_for :title, @collection.name %>
<% content_for :permalink, @collection.permalink %>
<% if @collection.image? %>
  <% content_for :image, @collection.image.standard.url %>
  <% content_for :image_alt, "Image for #{@collection.name}" %>
<% end %>

<%= render_component "hero", title: @collection.name, subtitle: "The Community Calendar" %>

<div class="c c--lg-space-after">
  <%= render_component "breadcrumb", trail: [[@collection.name, '/winter2017']] %>

  <hr>

  <div class="g g--collection">
      <div class="gi gi__3-5">
        <% if @collection.description %>
          <div class="first-ele-lg"><%= markdown @collection.description %></div>
        <% end %>

        <%# FIXME: this needs to be killed after launch! %>
        <% if @collection.id == 1 %>
          <p>
            <%= link_to 'Download winter leaflet (PDF, colour)', 
                        asset_path('files/winter2017/placecal_winter2017.pdf'),
                        class: 'btn' %><br>
            <%= link_to 'Download winter leaflet (PDF, B&W)', 
                        asset_path('files/winter2017/placecal_winter2017_bw.pdf'),
                        class: 'btn' %>
          </p>
          <p>
            <%= link_to 'Download winter A3 Poster (PDF, colour)', 
                         asset_path('files/winter2017/placecal_winter2017_poster.pdf'),
                         class: 'btn' %><br>
            <%= link_to 'Download winter A3 Poster (PDF, B&W)', 
                         asset_path('files/winter2017/placecal_winter2017_poster_bw.pdf'),
                         class: 'btn' %>
          </p>
        <% end %>
      </div>
      <div class="gi gi__2-5 gi--image">
        <% if @collection.image? %>
          <img src="<%= @collection.image.standard.url %>"
               srcset="<%= @collection.image.standard.url %> 1x, <%= @collection.image.retina.url %> 2x"
               alt="Image for <%= @collection.name %>" >
        <% end %>
      </div>
    </div>

  <hr>

  <%= render_component "event_list", 
    events: @events,
    pointer: @collection.start_date,
    period: @period,  
    sort: @sort,
    path: "collections/#{@collection.id}",
    show_breadcrumb: false,
    show_paginator: false
  %>
</div>

<% if @map&.any? %>
  <%= render_component "map", points: @map %>
<% end %>
