<% content_for :title, @collection.name %>
<% content_for :description, @collection.description %>
<% content_for :permalink, @collection.permalink %>
<% if @collection.image? %>
  <% content_for :image, image_url(@collection.image.standard.url) %>
  <% content_for :image_alt, "Image for #{@collection.name}" %>
<% end %>

<%= render(HeroComponent.new(@collection.name, @site.tagline)) %>

<div class="c c--lg-space-after">
  <%= render(new BreadcrumbComponent(trail: [[@collection.name, @collection.named_route]], site_name: @site.name)) %>

  <hr>

  <div class="g g--collection">
      <div class="gi gi__3-5">
        <% if @collection.description %>
          <div class="first-ele-lg"><%# = markdown @collection.description %></div>
        <% end %>
      </div>
      <div class="gi gi__2-5 gi--image">
        <% if @collection.image? %>
          <img src="<%= @collection.image.standard.url %>"
               srcset="<%= @collection.image.standard.url %> 1x, <%= @collection.image.retina.url %> 2x"
               alt="Image for <%= @collection.name %>" >
        <% end %>
      </div>
    </div>

  <hr>

  <%= render_component "event_list",
    events: @events,
    pointer: @collection.start_date,
    period: @period,
    sort: @sort,
    path: "collections/#{@collection.id}",
    show_breadcrumb: false,
    show_paginator: false
  %>
</div>

<% if @map&.any? %>
  <%# = render_component "map", points: @map, site: @current_site.slug %>
<% end %>
