<% content_for :title, @collection.name %>
<% content_for :description, @collection.description %>
<% content_for :permalink, @collection.permalink %>
<% if @collection.image? %>
  <% content_for :image, image_url(@collection.image.standard.url) %>
  <% content_for :image_alt, "Image for #{@collection.name}" %>
<% end %>

<%= render(HeroComponent.new(@collection.name, @site.tagline)) %>

<div class="c c--lg-space-after">
  <%= render(BreadcrumbComponent.new(trail: [[@collection.name, @collection.named_route]], site_name: @site.name)) %>

  <hr>

  <div class="g g--collection">
      <div class="gi gi__3-5">
        <% if @collection.description %>
          <div class="first-ele-lg"><%# = markdown @collection.description %></div>
        <% end %>
      </div>
      <div class="gi gi__2-5 gi--image">
        <% if @collection.image? %>
          <img src="<%= @collection.image.standard.url %>"
               srcset="<%= @collection.image.standard.url %> 1x, <%= @collection.image.retina.url %> 2x"
               alt="Image for <%= @collection.name %>" >
        <% end %>
      </div>
    </div>

  <hr>

<%= render(EventListComponent.new(
    events: @events,
    period: @period,
    primary_neighbourhood: @primary_neighbourhood,
    show_neighbourhoods: @current_site.show_neighbourhoods?,
    badge_zoom_level: @current_site.badge_zoom_level,
    site_tagline: @site.tagline,
    show_breadcrumb: false
  )) %>
</div>
