<h2>Welcome back, <%= current_user.full_name.titleize %><h2>

<h3>Your Information</h3>

<strong>Email:</strong><%= current_user.email %><br>
<% unless current_user.role.nil? %>
  <strong>Role:</strong><%= current_user.role.titleize %>
<% end %>
<br>
<%= link_to "Edit your Profile", admin_profile_path , class: "btn btn-primary" %>

<% if @turfs.exists? %>
  <h3>Turfs</h3>

  <% @turfs.each do |turf| %>
    <ul>
      <li><%= link_to "#{turf.name}", edit_admin_turf_path(turf), data: { turbolinks: false } %></li>
    </ul>
  <% end %>
<% end %>

<h3>Partners</h3>

<% if @partners.blank? %>
  <p>No Partners found</p>
<% else %>
  <% @partners.each do |partner| %>
    <ul>
      <li><%= link_to "#{partner.name}", edit_admin_partner_path(partner), data: { turbolinks: false } %></li>
    </ul>
  <% end %>
<% end %>
