<h2>Welcome back, <%= current_user.full_name.titleize %></h2>

<h3>Your Information</h3>

<strong>Email:</strong><%= current_user.email %><br>
<% unless current_user.role.nil? %>
  <strong>Role:</strong><%= current_user.role.titleize %>
<% end %>
<br>
<%= link_to "Edit your Profile", admin_profile_path , class: "btn btn-primary" %>


<h3>Partners</h3>

<% if @partners.blank? %>
  <p>No Partners found</p>
<% else %>
  <div class="card-grid">
    <% @partners.each do |partner| %>
      <%= render_component 'card',
            title: partner.name,
            subtitle: partner.slug,
            image: partner.image.url,
            description: partner.short_description,
            path: edit_admin_partner_path(partner),
            last_updated: partner.updated_at
      %>
    <% end %>
  </div>
<% end %>
