<% if @calendar.critical_error %>
  <div class="alert alert-warning" role="alert">
    Error: <%= @calendar.critical_error %>
  </div>
<% end %>

<p><%= link_to "View this calendar",
                admin_calendar_path(@calendar.id),
                class: "btn btn-sm btn-primary" unless @calendar.new_record? %>
</p>

<div id="js-calendar-form">
  <%= simple_form_for [:admin, @calendar] do |f| %>
    <div class="row">
      <div class="col-md-6">
        <h3>Details</h3>

        <%= f.association :partner,
                          label: 'Partner Organiser',
                          collection: options_for_organiser,
                          selected: (@partner ? @partner.id : ''),
                          input_html: { class: 'form-control', data: {controller: "select2"} },
                          hint: 'What group organises these events?' %>

        <%= f.input :name, hint: 'A simple description to help rememember what this calendar is' %>
        <%= f.input :source, label: 'URL', placeholder: 'https://your-domain.com/events.ics', hint: "The source URL for your calendar feed. See the #{link_to 'PlaceCal Handbook', 'https://gfsc.notion.site/Supported-Event-Sources-603f67d632c24aebbb32b9be7edebfa5'} if you need help.".html_safe %>
        <%= f.input :importer_mode,
          collection: options_for_importer,
          default: 'auto',
          input_html: { class: 'form-control' } %>


        <div class='hint'>
          <p>
            Calendar source URLs that PlaceCal currently supports are:
          </p>
          <ul>
          <% calendar_import_sources do |name, domains| -%>
            <li><%= name %> (<%= domains.join(', ') %>)</li>
          <% end -%>
          </ul>
        </div>
        <% if @calendar.importer_used.present? -%>
          <p>The calendar was last imported using the <%= @calendar.importer_used %> importer.</p>
        <% end -%>

      </div>
      <div class="col-md-6">
        <h3>Location</h3>
        <%= f.input :strategy,
                    as: :radio_buttons,
                    label_method: ->(val){strategy_label(val)},
                    hint: 'How should PlaceCal decide where events on this calendar are held?',
                    input_html: { 'v-model': 'strategy', 'v-on:change': "updateLocation" } %>
        <div v-if="locationVisible">
          <%= f.association :place,
                            label: 'Default location',
                            collection: options_for_location,
                            input_html: { class: 'form-control', data: {controller: "select2"} } %>
        </div>
      </div>
    </div>

    <h3 class="mt-5">Contact Information</h3>
    <div class="row">
      <div class="col-md-6">
        <p>The contact info for the email account that manages this calendar</p>
        <label>Name</label>
        <%= f.text_field :public_contact_name, class: "form-control" %>
        <label>Email</label>
        <%= f.email_field :public_contact_email, class: "form-control" %>
        <label>Phone Number</label>
        <%= f.text_field :public_contact_phone, class: "form-control" %>
      </div>
    </div>

    <br><br>
    <%= f.button :submit, class: "btn btn-primary mr-3" %>
    <% unless @calendar.new_record? %>
      <%= link_to "Destroy Calendar", admin_calendar_path(@calendar), method: :delete, class: "btn btn-danger" %>
    <% end %>
  <% end %>
</div>

<%= render('import') unless @calendar.new_record? %>
