<%= simple_form_for [:admin, @calendar], html: { data: { controller: 'calendar-tabs live-validation' } } do |f| %>

  <% unless @calendar.new_record? %>
    <%= render('importer_overview', calendar: @calendar) %>
  <% end %>

  <%# Radio Tabs - daisyUI tabs-lift %>
  <div role="tablist" class="tabs tabs-lift mt-6">
    <%= render Admin::TabPanelComponent.new(
      name: 'calendar_tabs',
      label: 'ðŸ“¥ Source',
      hash: 'source',
      controller_name: 'calendar-tabs',
      checked: true
    ) do %>
      <%= render 'form_tab_source', f: f %>
    <% end %>

    <%= render Admin::TabPanelComponent.new(
      name: 'calendar_tabs',
      label: 'ðŸ“ Location',
      hash: 'location',
      controller_name: 'calendar-tabs'
    ) do %>
      <%= render 'form_tab_location', f: f %>
    <% end %>

    <%= render Admin::TabPanelComponent.new(
      name: 'calendar_tabs',
      label: 'ðŸ“ž Contact',
      hash: 'contact',
      controller_name: 'calendar-tabs'
    ) do %>
      <%= render 'form_tab_contact', f: f %>
    <% end %>

    <% unless @calendar.new_record? %>
      <%= render Admin::TabPanelComponent.new(
        name: 'calendar_tabs',
        label: 'ðŸ‘ï¸ Preview',
        hash: 'preview',
        controller_name: 'calendar-tabs'
      ) do %>
        <%= render 'form_tab_preview' %>
      <% end %>

      <%# Spacer to push Admin tab right %>
      <div class="tab flex-1 cursor-default"></div>

      <%= render Admin::TabPanelComponent.new(
        name: 'calendar_tabs',
        label: 'âš™ï¸ Admin',
        hash: 'admin',
        controller_name: 'calendar-tabs'
      ) do %>
        <%= render 'form_tab_admin' %>
      <% end %>
    <% end %>
  </div>

  <%= render Admin::SaveBarComponent.new(
    multi_step: true,
    tab_name: 'calendar_tabs',
    settings_hash: 'admin',
    preview_hash: 'preview',
    storage_key: 'calendarTabAfterSave'
  ) %>
<% end %>
