<h1><%= @calendar.name %></h1>

<%= render 'status' %>

<p>Published by <%= link_to @calendar.partner, edit_admin_partner_path(@calendar.partner) %>. Using <%= content_tag :tt, @calendar.strategy %> strategy to import <%= content_tag :tt, @calendar.events.count %> events. <%= calendar_last_imported(@calendar) %>.</p>

<p>
  <% if @calendar.place %>
    This calendar's default location is <%= link_to @calendar.place, edit_admin_partner_path(@calendar.place) %>.
  <% else %>
    This calendar does not have a default location set.
  <% end %>
</p>

<p><%= link_to "Edit this calendar", edit_admin_calendar_path(@calendar.id), class: "btn btn-primary btn-sm" %></p>

<div class="row">
  <div class="col-md-6">
    <h2>Events</h2>

    <h3>Upcoming</h3>
    <ol class="pl-3">
      <% @calendar.events.upcoming.each do |event| %>
        <li><%= content_tag :strong, event.date_year %>. <%= event.summary %></li>
      <% end %>
    </ol>

    <h3>Past</h3>
    <ol class="pl-3">
      <% @calendar.events.past.limit(50).each do |event| %>
        <li><%= content_tag :strong, event.date_year %>. <%= event.summary %></li>
      <% end %>
    </ol>
  </div>
  <div class="col-md-6">

    <h2>Important Notices</h2>
    <% if @calendar.notices.present? %>
      <p>The following events could not be imported due to invalid data: </p>
      <ul id="calendar-notices" class="pl-3">
        <% @calendar.notices.each do |notice| %>
          <li><%= notice %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No notices to show</p>
    <% end %>
  </div>
</div>
