<div class="paginator">
  <div class="c">
    <div class="paginator__context">
      <div class="paginator__breadcrumb">
        Community Calendar for Hulme &amp; Moss Side <span class="icon icon--arrow-right">→</span> Events
      </div>
      <div class="paginator__filters">
        <%= form_tag('', method: :get, class: 'js-pagination-sort paginator__sort', enforce_utf8: false) do %>
          <div class="paginator__toggle">Filter and sort <span class="icon icon--arrow-down">↓</span></div>
          <div class="paginator__group paginator__group--hidden">
            <%= radio_button_tag(:sort, "time", sort == 'time') %>
            <%= label_tag(:sort_time, "Sort by date") %>
            <%= radio_button_tag(:sort, "summary", sort == 'summary') %>
            <%= label_tag(:sort_summary, "Sort by name") %>
          </div>
          <div class="paginator__group paginator__group--hidden">
            <%= radio_button_tag(:period, "day", period == 1.day) %>
            <%= label_tag(:period_day, "Daily view") %>
            <%= radio_button_tag(:period, "week", period == 1.week) %>
            <%= label_tag(:period_week, "Weekly view") %>
          </div>
        <% end %>
      </div>
      <div class="paginator__help">
        Help <span class="icon icon--question-mark">?</span>
      </div>
    </div>

    <ol class="paginator__buttons paginator__buttons--day">
      <% paginator.each do |page| %>
        <li>
          <%= link_to page[0], page[1] %>
        </li>
      <% end %>
    </ol>

    <hr>
  </div>
</div>
