<div class="paginator">
  <div class="paginator__context">
    <% if properties[:show_breadcrumb] %>
      <%= render_component "breadcrumb", trail: [['Events', events_path]] do %>
        <div class="breadcrumb__filters filters">
          <%= form_tag('', method: :get, class: 'filters__form js-filters-form', enforce_utf8: false) do %>
            <div class="js-filters-toggle filters__toggle">
              <a href="#" data-turbolinks="false">Filter and sort</a> <span class="icon icon--arrow-down">↓</span>
            </div>
            <div class="filters__dropdown filters__dropdown--hidden js-filters-dropdown">
              <div class="filters__group">
                <div class="filters__option">
                  <%= radio_button_tag(:sort, "time", sort == 'time') %>
                  <%= label_tag(:sort_time, "Sort by date") %>
                </div>
                <div class="filters__option">
                  <%= radio_button_tag(:sort, "summary", sort == 'summary') %>
                  <%= label_tag(:sort_summary, "Sort by name") %>
                </div>
              </div>
              <hr>
              <div class="filters__group">
                <div class="filters__option">
                  <%= radio_button_tag(:period, "day", period == 1.day) %>
                  <%= label_tag(:period_day, "Daily view") %>
                </div>
                <div class="filters__option">
                  <%= radio_button_tag(:period, "week", period == 1.week) %>
                  <%= label_tag(:period_week, "Weekly view") %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <ol class="paginator__buttons paginator__buttons--day">
    <% paginator.each do |page| %>
      <li>
        <%= link_to page[:text], page[:link], class: page[:css] %>
      </li>
    <% end %>
  </ol>

  <hr>

  <h2><%= title %></h2>
</div>
