<ol class="paginator paginator--day reset">
  <li><%= link_to "←", backwards %></li>
  <% (0..steps).each do |i| %>
    <% day = pointer + period * i %>
    <% day_fmt = d_short(day) %>
    <li>
      <%= link_to create_event_url(day) do %>
        <% if day == @today %>
          <strong>Today</strong> (<%= day_fmt %>)
        <% elsif day == @today + period %>
          <strong>Tomorrow</strong> (<%= day_fmt %>)
        <% else %>
          <%= day_fmt %>
        <% end %>
      <% end %>
    </li>
  <% end %>
  <li><%= link_to "→", forwards %></li>
</ol>