<div class="paginator" id="paginator">
  <div class="paginator__context">
    <% if properties[:show_breadcrumb] %>
      <%= render_component "breadcrumb", trail: [['Events', events_path]], site_name: @site.name do %>
        <div class="breadcrumb__filters filters">
          <%= @neighbourhood_filter.render_filter(self) %>
          <%= form_tag('', method: :get, class: 'filters__form js-filters-form', enforce_utf8: false) do %>

            <% if params[:neighbourhood] %>
              <input type="hidden" id="neighbourhood" name="neighbourhood" value=<%= params[:neighbourhood] %> />
            <% end%>
            <div class="js-filters-toggle filters__toggle">
                <a href="#" data-turbo="false"><span class="icon icon--arrow-down">↓</span> <span class="filters__link">Filter and sort</span></a>
            </div>
            <div class="filters__dropdown filters__dropdown--hidden js-filters-dropdown">
              <!-- Date or time sort -->
              <div class="filters__group">
                <div class="filters__option">
                  <%= radio_button_tag(:sort, "time", sort == 'time') %>
                  <%= label_tag(:sort_time, "Sort by date") %>
                </div>
                <div class="filters__option">
                  <%= radio_button_tag(:sort, "summary", sort == 'summary') %>
                  <%= label_tag(:sort_summary, "Sort by name") %>
                </div>
              </div>
              <hr>
              <!-- Day or week view -->
              <div class="filters__group">
                <div class="filters__option">
                  <%= radio_button_tag(:period, "day", period == 1.day) %>
                  <%= label_tag(:period_day, "Daily view") %>
                </div>
                <div class="filters__option">
                  <%= radio_button_tag(:period, "week", period == 1.week) %>
                  <%= label_tag(:period_week, "Weekly view") %>
                </div>
              </div>
              <hr>
              <!-- Show or hide repeating events -->
              <div class="filters__group">
                <div class="filters__option">
                  <%= radio_button_tag(:repeating, "on", repeating == 'on') %>
                  <%= label_tag(:repeating_on, "Show repeats") %>
                </div>
                <div class="filters__option">
                    <%= radio_button_tag(:repeating, "last", repeating == 'last') %>
                    <%= label_tag(:repeating_last, "Show repeats last") %>
                  </div>
                <div class="filters__option">
                  <%= radio_button_tag(:repeating, "off", repeating == 'off') %>
                  <%= label_tag(:repeating_off, "Hide repeats") %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <ol class="paginator__buttons paginator__buttons--day">
    <% paginator.each do |page| %>
      <li class="<%= page[:css] %>">
        <%= link_to page[:text], page[:link] %>
      </li>
    <% end %>
  </ol>

  <hr>
</div>
