<div class="partnership_card">
  <div class="partnership_card--logo">
    <img class="partnership_card--image" src="<%= @site.domain %>/<%= @site.logo %>" alt="<%= @site.name %> logo"/>
  </div>
  <p class="partnership_card--summary">
    <%= @site.tagline %>
  </p>
  <%= link_to "#{@site.name} calendar", "#{@site.domain}/events"  , class: 'partnership_card--link' %>
</div>
