<div class="form">
  <div class="behavior-trigger" data-behavior="<%= model.to_s.downcase %>.form"></div>

  <%= simple_form_for @partner do |f| %>

    <%= render_component "error", object: @partner %>

    <h2>Basic Information</h2>

    <%= f.input :name, class: "form-control" %>
    <%= f.input :slug, class: "form-control" if policy(@partner).permitted_attributes.include? :slug %>

    <%= f.input :summary, class: "form-control", label: 'Summary', input_html: { maxlength: 200, rows: 2 }, as: 'text' %>

    <%= f.input :description, class: "form-control", label: 'Description', input_html: { rows: 7 } %>

    <%= f.input :accessibility_info, class: "form-control", label: 'Accessibility Information', input_html: { rows: 7 } %>

    <div class="row">
      <div class="col-md-6" data-controller="image-preview">
        <%= f.input :image,
          hint: image_uploader_hint(@partner.image),
          as: :file,
          input_html: { data: { action: "change->image-preview#file"} }
        %>
        <% if @partner.image.url  %>
          <%= image_tag @partner.image.url,  width: '125', class: 'brand_image', data: { image_preview_target: "img"}  %>
        <% else  %>
          <%= image_tag "", style: 'display:none;', width: '125', class: 'brand_image', data: { image_preview_target: "img"} %>
        <% end  %>
      </div>

    </div>

    <br>
    <hr>

    <h2>Address</h2>

    <div id='address'>
      <div class="row">
        <div class="col-md-6">
          <%= f.fields_for :address, @partner.address || Address.new do |a| %>
            <%= render 'address_fields', f: a %>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= f.input :url, class: "form-control", label: 'Website address', placeholder: 'https://your-website.org' %>

          <div class="form-group url optional facebook_link form-group-invalid">
            <%= f.label :facebook_link %>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">https://facebook.com/</div>
              </div>
              <%= f.input_field :facebook_link, class: "form-control", placeholder: 'FacebookPageName' %>
              <%= f.error :facebook_link, class: 'invalid-feedback' %>
            </div>
          </div>

          <div class="form-group url optional twitter_handle form-group-invalid">
            <%= f.label :twitter_handle %>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <%= f.input_field :twitter_handle, class: "form-control", placeholder: 'TwitterAccount' %>
              <%= f.error :twitter_handle, class: 'invalid-feedback' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <h2>Service Areas</h2>

    <p>If this partner delivers services outside the above address, such as a phone support line or outreach service, select them here.</p>

    <div class="sites_neighbourhoods">
      <%= f.simple_fields_for :service_areas do |neighbourhood| %>
        <%= render 'service_area_fields', :f => neighbourhood %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add Service Area', f, :service_areas, class: "btn btn-primary btn-sm" %>
      </div>
      <br></br>
    </div>

    <br>

    <hr>
    <h2>Contact Information</h2>

    <div class="row">
      <div class="col-md-6">
        <h3>Public Contact</h3>
        <p>This is the information that will be shown to the public.</p>
        <%= f.input :public_name, class: "form-control" %>
        <%= f.input :public_email, class: "form-control" %>
        <%= f.input :public_phone, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <h3>Partnership Contact</h3>
        <p><em>If different from public contact:</em> The contact person for PlaceCal.</p>
        <%= f.input :partner_name, class: "form-control" %>
        <%= f.input :partner_email, class: "form-control" %>
        <%= f.input :partner_phone, class: "form-control" %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h2>Opening times</h2>
        <div data-controller="opening-times" data-opening-times-data-value='<%= @partner.opening_times %>'>
          <ul data-opening-times-target="list">
          </ul>

          <%# add some sort of formgroup that updates data %>
          <div class="input-group flex-row align-items-center justify-content-sm-between flex-wrap">
            <label for="day">Day</label>
            <select id="day">
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
              <option value="Saturday">Saturday</option>
              <option value="Sunday">Sunday</option>
            </select>
            <label for="open">Opening Time</label>
            <input id="open" type="time" name="" value="">
            <label for="close">Closing Time</label>
            <input id="close" type="time" name="" value="">
            <button data-action="click->opening-times#updateFromForm" type="" class="btn btn-primary">Add</button>
          </div>

          <%= f.text_area :opening_times, data: { opening_times_target: "textarea" }, hidden: true %> 
        </div>
        <%# <%1# .presence returns the object if it exists or nil if not, becayse nil is falsey you can use the || on it %1> %>
        <%# <div id="opening-times" class="opening-times" data="<%= @partner.opening_times.presence || [] %1>"> %> 

        <%#   <div class="added-days"> %>
        <%#     <added-days :list="addedDays"></added-days> %>
        <%#   </div> %>

        <%#   <div class="d-flex flex-row align-items-center justify-content-sm-between flex-wrap"> %>
        <%#     <select v-model="selectedDay" class="form-control"> %>
        <%#       <option v-for="day in days" v-bind:value="day.value"> %>
        <%#       <%1# is this vue code running in the template? %1> %>
        <%#       {{ day.name }} %>
        <%#       </option> %>
        <%#     </select> %>

        <%#     <vue-timepicker format="hh:mm a" input-width="8em" v-model="selectedOpeningTime"></vue-timepicker> %>

        <%#     <vue-timepicker format="hh:mm a" input-width="8em" v-model="selectedClosingTime"></vue-timepicker> %>

        <%#     <button type="button" class="btn btn-primary btn-sm" @click="addDay">Add these hours</button> %>
        <%#   </div> %>

        <%#   <%= 'opening_times.presence' %1> %>
        <%#   <%= @partner.opening_times.presence %1> %>
        <%#   <% puts 'opening_times' %1> %>
        <%#   <% puts @partner.opening_times %1> %>
        <%#   <% puts 'opening_times.presence' %1> %>
        <%#   <% puts @partner.opening_times.presence %1> %>
        <%#   <%1# is this vue code running in the template? %1> %>
        <%#   <%1# <%= f.text_area :opening_times, value: '{{ $data.openingHoursSpecifications }}', hidden:true %2> %1> %> 
        <%#   <%= f.text_area :opening_times, value: @partner.opening_times %1> %> 
        <%# </div> %>

      <div class="col-lg-6 col-md-12 tags">
        <h2>Tags</h2>
        <p>Does this Partner provide any of the following things?</p>

        <%= f.association :tags,
                          label: false,
                          collection: options_for_tags,
                          input_html: { class: 'form-check', data: { controller: "select2" } } %>

        <div id="map-pin-div" data-url="<%= image_path('icons/map/map-marker.png') %>"></div>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <%= f.submit "Save Partner", class: "btn btn-primary btn-lg" %><br><br><br>

        <% if policy(@partner).destroy? && !@partner.new_record? %>
          <%= link_to "Delete Partner", @partner, method: :delete, class: "btn btn-danger btn-sm", id: 'destroy-partner'  %>
        <% end %>
      </div>
    </div>
    <%# End form tag %>
  <% end %>
</div>

