<%= simple_form_for @partner do |f| %>

  <%= render_component "error", object: @partner %>

  <h2>Basic Information</h2>

  <%= f.input :name, class: "form-control" %>
  <%= f.input :short_description, rows: 2, class: "form-control", label: 'Short Description' %>

  <%= f.input :image, as: :file %>
  <%= image_tag @partner.image , width: '125', class: 'brand_image' %>

  <%= f.input :url, class: "form-control", label: 'Website address' %>
  <%= f.input :facebook_link, class: "form-control" %>
  <%= f.input :twitter_handle, class: "form-control" %>

  <br><br>

  <h3>Address</h3>

  <div id='address'>
    <div class="row">
      <div class="col-md-6">
        <%= f.fields_for :address, Address.new do |a| %>
          <%= render 'address_fields', f: a %>
        <% end %>
      </div>
      <div class="col-md-6">
        -or-
        <%= f.association :address, label: 'Select existing Address', collection: options_for_addresses, input_html: {  class: 'select-search' } %>
      </div>
    </div>
  </div>

  <h2>Contact Information</h2>

  <div class="row">
    <div class="col-md-6">
      <h4>Public Contact</h4>
      <p>This is the information that will be shown to the public.</p>
      <label>Name</label>
      <%= f.text_field :public_name, class: "form-control" %>
      <label>Email</label>
      <%= f.email_field :public_email, class: "form-control" %>
      <label>Phone Number</label>
      <%= f.text_field :public_phone, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <h4>Partnership Contact</h4>
      <p><em>If different from public contact:</em> The contact person for PlaceCal.</p>
      <label>Name</label>
      <%= f.text_field :partner_name, class: "form-control" %>
      <label>Email</label>
      <%= f.email_field :partner_email, class: "form-control" %>
      <label>Phone Number</label>
      <%= f.text_field :partner_phone, class: "form-control" %>
    </div>
  </div>

  <h2>Opening times</h2>
  <div class="container" id="opening-times">

    <div class="added-days">
      <added-days :list="addedDays"></added-days>
    </div>

    <div class="form">
      <select v-model="selectedDay">
        <option v-for="day in days" v-bind:value="day.value">
          {{ day.name }}
        </option>
      </select>

      <select v-model="selectedOpeningTime">
        <option v-for="openingTime in filteredOpeningTimes" v-bind:value="openingTime.value">
          {{ openingTime.name }}
        </option>
      </select>

      <select v-model="selectedClosingTime">
        <option v-for="closingTime in filteredClosingTimes" v-bind:value="closingTime.value">
          {{ closingTime.name }}
        </option>
      </select>

      <button type="button" class="btn btn-primary btn-sm" @click="addDay">Add these hours</button>
    </div>

    <%= f.text_area :opening_times, value: '{{ $data.addedDays }}' %>
    <pre>{{$data}}</pre>
  </div>

  <template id="added-days-template">
    <ul class="list-unstyled">
      <li class="clearfix" v-for="day in list">
        {{ day.dayName }} from
        {{ day.openingTimeName }} to
        {{ day.closingTimeName }}

        <!-- For debugging
        {{ day.id }}
        {{ day.openingTime }}
        {{ day.closingTime }}
      -->

      <button class="btn btn-danger btn-sm pull-right" @click.prevent="removeDay(day)">Remove</button>
    </li>
  </ul>
</template>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script type="text/javascript" src="/js/opening_hours.js"></script>

  <h2>Tags</h2>
  <p>Does this Partner provide any of the following things? (WIP!)</p>

  <%= f.association :turfs, collection: @turfs, as: :check_boxes, include_hidden: false %>

  <%= f.submit "Save Partner", class: "btn btn-primary" %><br><br>

  <% if policy(Partner).destroy? && !@partner.new_record? %>
    <%= link_to "Destroy Partner", @partner, method: :delete, class: "btn btn-danger" %>
  <% end %>
    <div id="map-pin-div" data-url="<%= image_path('icons/map/map-marker.png') %>"></div>

  <%# End form tag %>
<% end %>

<% content_for :first_min_js do %>
  <script src="//maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>"></script>
<% end %>
