<%= simple_form_for @partner do |f| %>

  <%= render_component "error", object: @partner %>

  <h2>Basic Information</h2>

  <%= f.input :name, class: "form-control" %>
  <%= f.input :short_description, rows: 2, class: "form-control", label: 'Short Description' %>

  <%= f.input :image, as: :file %>
  <%= image_tag @partner.image , width: '125', class: 'brand_image' %>

  <%= f.input :is_a_place, as: :boolean, checked_value: true, unchecked_value: false, label: 'Is this a Place?' %>
  <%= f.association :turfs, label: false, collection: @turfs, as: :check_boxes, include_hidden: false %>

  <div id='places'>
    <%= link_to_add_association "+ Add New Places", f, :places, class: "btn btn-primary add_place" %>
    <br/><br/>
    <%= f.association :places, label: "Existing Places", collection: options_for_places, input_html: {class: 'form-control select2' }, include_hidden: false %>
  </div>

  <hr>

  <div id='address'>
    <h3>Address</h3>
    <%= f.fields_for :address, Address.new do |a| %>
      <%= render 'address_fields', f: a %>
    <% end %>
    -or-
    <%= f.association :address, label: 'Existing Address', collection: options_for_addresses, input_html: {  class: 'form-control' } %>
  </div>

  <h2>Contact Information</h2>

  <div class="row">
    <div class="col-md-6">
      <h4>Public Enquiries</h4>
      <%= f.input :url, class: "form-control" %>
      <%= f.input :public_name, label: 'Contact Name', class: "form-control" %>
      <%= f.input :public_email, as: :email, class: "form-control", label: 'Email' %>
      <%= f.input :public_phone, class: "form-control", label: 'Phone Number' %>
    </div>
    <div class="col-md-6">
      <h4>Calendar Manager</h4>
      <%= f.input :calendar_name, class: "form-control", label: 'Contact Name' %>
      <%= f.input :calendar_email, as: :email, class: "form-control", label: 'Email' %>
      <%= f.input :calendar_phone, class: "form-control", label: 'Phone Number' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Partner Manager</h4>
      <%= f.input :partner_name, class: "form-control", label: 'Contact Name' %>
      <%= f.input :partner_email, as: :email, class: "form-control", label: 'Email' %>
      <%= f.input :partner_phone, label: 'Phone Number', class: "form-control" %>
    </div>
    <div class="col-md-6">

    </div>
  </div>

  <br>

  <%= f.submit "Save Partner", class: "btn btn-primary" %><br><br>

  <% if policy(Partner).destroy? && !@partner.new_record? %>
    <%= link_to "Destroy Partner", @partner, method: :delete, class: "btn btn-danger" %>
  <% end %>
    <div id="map-pin-div" data-url="<%= image_path('icons/map/map-marker.png') %>"></div>

  <%# End form tag %>
<% end %>

<% content_for :first_min_js do %>
  <script src="//maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>"></script>
<% end %>
