<%= simple_form_for @partner do |f| %>

  <%= render_component "error", object: @partner %>

  <h2>Basic Information</h2>

  <%= f.input :name, class: "form-control" %>
  <%= f.input :short_description, class: "form-control", label: 'Short Description', input_html: { rows: 7 } %>


  <div class="row">
    <div class="col-md-6">
      <%= f.input :image, as: :file %>
      <%= image_tag @partner.image.url , width: '125', class: 'brand_image' if @partner.image.url %>
    </div>
    <div class="col-md-6">
      <%= f.input :url, class: "form-control", label: 'Website address', placeholder: 'https://your-website.org' %>

      <div class="form-group url optional facebook_link form-group-invalid">
        <%= f.label :facebook_link %>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">https://facebook.com/</div>
          </div>
          <%= f.input_field :facebook_link, class: "form-control", placeholder: 'FacebookPageName' %>
          <%= f.error :facebook_link, class: 'invalid-feedback' %>
        </div>
      </div>

      <div class="form-group url optional twitter_handle form-group-invalid">
        <%= f.label :twitter_handle %>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <%= f.input_field :twitter_handle, class: "form-control", placeholder: 'FacebookPageName' %>
          <%= f.error :twitter_handle, class: 'invalid-feedback' %>
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>

  <h3>Address</h3>

  <div id='address'>
    <div class="row">
      <div class="col-md-6">
        <%= f.fields_for :address, Address.new do |a| %>
          <%= render 'address_fields', f: a %>
        <% end %>
      </div>
      <div class="col-md-6">
        -or-
        <%= f.association :address, label: 'Select existing Address', collection: options_for_addresses, input_html: {  class: 'select-search' } %>
      </div>
    </div>
  </div>

  <hr>
  <h2>Contact Information</h2>

  <div class="row">
    <div class="col-md-6">
      <h4>Public Contact</h4>
      <p>This is the information that will be shown to the public.</p>
      <label>Name</label>
      <%= f.text_field :public_name, class: "form-control" %>
      <label>Email</label>
      <%= f.email_field :public_email, class: "form-control" %>
      <label>Phone Number</label>
      <%= f.text_field :public_phone, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <h4>Partnership Contact</h4>
      <p><em>If different from public contact:</em> The contact person for PlaceCal.</p>
      <label>Name</label>
      <%= f.text_field :partner_name, class: "form-control" %>
      <label>Email</label>
      <%= f.email_field :partner_email, class: "form-control" %>
      <label>Phone Number</label>
      <%= f.text_field :partner_phone, class: "form-control" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h2>Opening times</h2>
      <div id="opening-times" data="<%= @partner.opening_times.presence || [] %>">

        <div class="added-days">
          <added-days :list="addedDays"></added-days>
        </div>

        <div class="row">
          <div class="col-md-3">
            <select v-model="selectedDay" class="form-control">
              <option v-for="day in days" v-bind:value="day.value">
                {{ day.name }}
              </option>
            </select>
          </div>

          <div class="col-md-3">
            <vue-timepicker format="hh:mm a" input-width="8em" v-model="selectedOpeningTime"></vue-timepicker>
          </div>

          <div class="col-md-3">
            <vue-timepicker format="hh:mm a" input-width="8em" v-model="selectedClosingTime"></vue-timepicker>
          </div>

          <div class="col-md-3">
            <button type="button" class="btn btn-primary btn-sm" @click="addDay">Add these hours</button>
          </div>
        </div>

        <%= f.text_area :opening_times, value: '{{ $data.openingHoursSpecifications }}', hidden:true %>
      </div>

    </div>
    <div class="col-md-6">
      <h2>Tags</h2>
      <p>Does this Partner provide any of the following things? (WIP!)</p>

      <%= f.association :turfs, collection: @turfs, as: :check_boxes, include_hidden: false, label: "Facilities" %>

      <div id="map-pin-div" data-url="<%= image_path('icons/map/map-marker.png') %>"></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <%= f.submit "Save Partner", class: "btn btn-primary h1" %><br><br>
      <br>
      <% if policy(@partner).destroy? && !@partner.new_record? %>
        <%= link_to "Destroy Partner", @partner, method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
  <%# End form tag %>
<% end %>

<script src="//maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>"></script>
