<%= render Admin::SectionHeaderComponent.new(
  title: t('admin.tabs.location'),
  description: t('admin.partners.sections.location_description')
) %>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
    <legend class="fieldset-legend"><%= attr_label(:partner, :address) %></legend>
    <%= render 'address_fields', form: f, partner: @partner %>
    <% if @partner&.address&.neighbourhood&.legacy_neighbourhood? %>
      <div role="alert" class="alert alert-warning mt-4 text-sm">
        <%= icon(:warning, size: '5', css_class: 'shrink-0') %>
        <span><%= t('admin.partners.warnings.outdated_neighbourhood', email: 'support@placecal.org').html_safe %></span>
      </div>
    <% end %>
    <% if partner_has_unmappable_postcode?(@partner) %>
      <div role="alert" class="alert alert-warning mt-4 text-sm">
        <%= icon(:warning, size: '5', css_class: 'shrink-0') %>
        <span><%= t('admin.partners.warnings.unmappable_postcode') %></span>
      </div>
    <% end %>
  </fieldset>

  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
    <legend class="fieldset-legend"><%= t('admin.sections.service_areas') %></legend>
    <p class="text-sm text-base-content/60 mb-4"><%= t('admin.partners.sections.service_areas_description') %> <br><br><%= t('admin.partners.sections.service_areas_hint') %></p>
    <%= nested_form_for(f, :service_areas, add_text: t('admin.service_areas.add'), add_class: 'btn btn-sm bg-placecal-orange hover:bg-orange-600 text-white border-placecal-orange', partial: 'service_area_fields') do %>
      <%= f.simple_fields_for :service_areas do |neighbourhood| %>
        <%= render 'service_area_fields', f: neighbourhood %>
      <% end %>
    <% end %>
  </fieldset>
</div>

<fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4 mt-8">
  <legend class="fieldset-legend"><%= t('admin.sections.opening_times') %></legend>
  <%= render 'opening_times', f: f %>
</fieldset>
