<div class="row">
  <div class="col-md-10">
    <h2>Partners List</h2> 
  </div>
  <div class="col-md-2">
    <% if policy(Partner).create? %>
      <%= link_to "Add New Partner", new_admin_partner_path, data: { turbolinks: false }, class: "btn btn-primary " %>   
    <% end %>
  </div>
</div>      
<% if @partners.blank? %>
<% puts "===-=---=--==-=-==" %>
  <h3>You have no partners</h3>
<% else %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <% if policy(Partner).update? %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <% puts "===-=---=--==-=-==" %>
        <td><%= partner.id %></td>
        <td><%= partner.name %></td>
        <td><%= partner.public_email %></td>
        <% if policy(partner).update? %>
          <td><%= link_to "Edit", edit_admin_partner_path(partner),  data: { turbolinks: false }, class: "btn btn-primary " %></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
  </table>
<% end %>