<h1>New Partner: Step One</h1>

<%= render_component "error", object: @partner %>

<%= simple_form_for @partner, url: setup_admin_partners_url, method: :post do |f| %>
  <%= f.input :name %>
  <%= f.fields_for :address, @partner.address || Address.new do |a| %>
    <%= a.input :street_address %>
    <%= a.input :postcode %>
  <% end %>

  <hr>
  <div class="row">
    <div class="col-sm-12">
      <%= f.submit "Next", class: "btn btn-primary h1" %>
    </div>
  </div>

<% end %>
