<div class="footer">
  <div class="c">
    <div class="footer__inner <%= "footer__inner--nosite" unless @site&.site_admin %>">
      <div class="footer__item footer__logo">
        <% if @site&.footer_logo&.present? %>
          <%= image_tag @site.footer_logo.url if @site.footer_logo.url %>
        <% else %>
          <%= image_tag 'logo-footer.svg' %>
        <% end %>
      </div>

      <hr class="footer__item footer__hr footer__hr--1">

      <div class="footer__item footer__nav">
        <h5 class="allcaps small">Site Navigation</h5>
        <nav role="navigation">
          <ul>
            <li><%= active_link_to "Home", root_path, active: :exclusive %></li>
            <li><%= active_link_to "Events", events_path %></li>
            <li><%= active_link_to "Partners", partners_path %></li>
            <li><%= active_link_to "Log in", new_user_session_path %></li>
            <li><%= active_link_to "Privacy", privacy_path %></li>
          </ul>
        </nav>
      </div>

      <% if @site&.site_admin %>
        <div class="footer__item footer__enquiries footer__enquiries--regional">
          <h5 class="allcaps small"><%= @site.name %> Enquiries</h5>
          <p>
            <%= @site.site_admin.full_name %>
          </p>
          <p>
            <% if @site.site_admin.phone&.length&.positive? %>
              <strong>T:</strong> <%= @site.site_admin.phone %><br>
            <% end %>
            <strong>E:</strong> <%= mail_to @site.site_admin.email %>
          </p>
        </div>
      <% end %>

      <div class="footer__item footer__enquiries footer__enquiries--general">
        <h5 class="allcaps small">General Enquiries</h5>
        <p>
          Get in touch!
        </p>
        <p>
          <strong>E:</strong> <%= mail_to 'support@placecal.org' %>
        </p>
      </div>

      <% if @site&.supporters&.any? %>
        <hr class="footer__item footer__hr">

        <div class="footer__item footer__supporters">
          <h5 class="allcaps small"> PlaceCal <%= @site.name %> Supporters</h5>
          <ul>
            <% @site&.supporters&.each do |supporter| %>
              <li class="footer__supporter footer__supporter--<%= supporter.name.parameterize %>">
                <%= link_to supporter.url do %>
                  <%= image_tag supporter.logo.url %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <hr class="footer__item footer__hr">

      <% if @global_supporters %>
        <div class="footer__item footer__supporters">
          <h5 class="allcaps small">PlaceCal Supporters</h5>
          <ul>
            <% @global_supporters&.each do |supporter| %>
              <li class="footer__supporter footer__supporter--<%= supporter.name.parameterize %>">
                <%= link_to supporter.url do %>
                  <%= image_tag supporter.logo.url, alt: supporter.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="footer__item footer__impressum">
        <p>
          PlaceCal ℅ PHASE<br>
          Chatham 510, Manchester School of Architecture<br>
          Cavendish Street, Manchester, M15 6BR
        </p>
        <p>
          © 2017-<%= Time.now.strftime('%y') %> <%= link_to "Geeks For Social Change", "http://gfsc.studio" %><br>
          <% build = ENV['GIT_REV'] ? ENV['GIT_REV'][0,7] : 'main' %>
          Build: <tt><%= link_to build, "https://github.com/geeksforsocialchange/PlaceCal/commit/#{build}" %></tt>
        </p>
      </div>

      <% if Rails.env.development? %>
        <pre class="footer__item small">
          <%= debug(params) %>
          <%# console %>
        </pre>
      <% end %>
    </div>
  </div>
</div>
