<main>
  <div class="c c--lg-space-after">
    <%- if current_user.role.admin? %>
      <%= link_to 'Return to Admin', superadmin_calendars_path %>
    <% end %>

    <br/>

    <table class="table">
      <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Events</th>
        <th>Last Import</th>
        <th>Notices</th>
        <th></th>
      </thead>
      <tbody>
        <%- @calendars.each do |calendar| %>
          <tr>
            <td><%= calendar.name %></td>
            <td><%= calendar.type %></td>
            <td>
              Total: <%= calendar.events.count%><br/>
              Unique: <%= calendar.events.pluck(:uid).uniq.count %>
            </td>
            <td><%= calendar.last_import_at %></td>
            <td><%= calendar.notices.count if calendar.notices %></td>
            <td><%= link_to "Import Status", manager_calendar_path(calendar) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
