<h3> Import Status for <%= @calendar.name %></h3>

<br/>

<h4>Important Notices</h4>
<%- if @calendar.notices.present? %>

  <ul>
   <%- @calendar.notices.each do |notice| %>
    <li><em><%= notice["event"]["summary"] %></em> - <%= notice["errors"].join(", ")%></li>
   <% end %>
  </ul>
<% else %>
  No notices to show
<% end %>
<hr/>

<h4>Recent Activities</h4><br/>
<%- @versions.each do |date, activities| %>
  <div class="row">
    <div class="col-sm-2">
      <b><%= (Date.today - date).to_i %> Days Ago</b>
    </div>
    <div class="col-sm-10">
      <ul>
        <%- by_event = activities.group_by(&:event) %>

        <%- if by_event["create"] %>
          <b>Event Created</b>
          <%- by_event["create"].group_by { |version| version.object_changes["uid"].last }.each do |_, versions| %>
            <li>
              <%= versions.first.object_changes["summary"].last %> -
              <%- dates = versions.map { |version| DateTime.parse(version.object_changes["dtstart"].last) } %>
              <%= summarize_dates(dates) %>
            </li>
          <% end %>
        <% end %>

        <%- if by_event["update"] %>
          <b>Event Updated</b>
          <%- by_event["update"].group_by { |version| version.object["uid"] }.each do |_, versions| %>
            <li>
              <%= versions.first.object["summary"] %> -
              <%- dates = versions.map { |version| DateTime.parse(version.object["dtstart"]) } %>
              <ul>
                <li>Dates: <%= summarize_dates(dates) %></li>
                <li>Changes: <%= versions.map(&:object_changes).map(&:keys).flatten.uniq %></li>
              </ul>
            </li>
          <% end %>
        <% end %>

        <%- if by_event["destroy"] %>
          <b>Event Deleted</b>
          <%- by_event["destroy"].group_by { |version| version.object["uid"] }.each do |_, versions| %>
            <li>
              <%= versions.first.object["summary"] %> -
              <%- dates = versions.map { |version| DateTime.parse(version.object["dtstart"]) } %>
              <%= summarize_dates(dates) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
