<details class="details details__image__<%= @image_layout %>">
  <summary>
    <% if @header %>
      <%= content_tag("h#{@header_level}", class: "details__header #{@header_class}") do %>
        <% @header %>
      <% end %>
    <% end %>
    <div class="details__summary">
    <%# don't wrap summary in a <p> if it already begins with `<p` %>
      <% if @summary.match(/^<p/) %>
        <%= @summary %>
      <% else %>
        <p><%= @summary %></p>
      <% end %>
    </div>
    <% if @image_url %>
      <%= image_tag(@image_url, alt: @image_alt) %>
    <% end %>
    <div class="btn btn--small btn--home-3">
      <%= icon(:home_plus, size: nil, css_class:'details__button__child__open') %>
      <%= icon(:home_minus, size: nil, css_class:'details__button__child__close') %>
      <span class="details__button__child__open">Open to read more</span>
      <span class="details__button__child__close">Close</span>
    </div>
    <%# this is technically incorrect - it should be the second child of details. but that causes problems making it a grid child %>
    <div class="details__detail">
      <%= content %>
    </div>
  </summary>
</details>
