<div class="event <%= page? ? 'event--full' : 'event--list' %>">
  <article>
    <% if page? %>
    <%= render(HeroComponent.new(summary, site_tagline)) %>
        <div class="c">
    <% else %>
      <div class="event__header">
        <h3 itemprop="name"><%= link_to summary, event_path(id), data: { turbo_frame: '_top' } %></h3>
        <% if neighbourhood_name && show_neighbourhoods %>
          <div class="neighbourhood <%= primary_neighbourhood? ? 'neighbourhood--primary' : 'neighbourhood--secondary' %> event__neighbourhood">
            <span><%= neighbourhood_name %></span>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="event__details">
      <div class="event__detail event__time">
        <%= icon(:event_time, size: '0') %>
        <%= time %>
      </div>
      <% if duration %>
        <div class="event__detail event__duration">
          <%= icon(:event_duration, size: '0') %>
          <%= duration %>
        </div>
      <% end %>
      <div class="event__detail event__date">
        <%= icon(:event_date, size: '0') %>
        <%= date %>
      </div>
      <% if online? %>
        <div class="event__detail event__repeats">
          <%= icon(:event_online, size: '0') %>
          Online
        </div>
      <% end %>
      <% if partner_at_location || first_address_line %>
        <div class="event__detail event__location">
          <%= icon(:event_place, size: '0') %>
          <% if partner_at_location %>
            <%= link_to partner_at_location, partner_path(partner_at_location), data: { turbo_frame: '_top' } %>
          <% elsif first_address_line %>
            <%= first_address_line %>
          <% end %>
        </div>
      <% end %>
      <% if repeats %>
        <div class="event__detail event__repeats">
          <%= icon(:event_repeats, size: '0') %>
          <%= repeats %>
        </div>
      <% end %>
    </div>
    <% if page? %>
      </div> <!-- </div class="c"> -->
    <% end %>
  </article>
</div>
