<%= form_with url: partners_path, 
              method: :get, 
              data: { controller: "partner-filter-component", 
                      "partner-filter-component-target": "form", 
                      turbo_frame: "partner_previews" }, 
              class: 'filters__form' do %>
  <div class ="breadcrumb__element breadcrumb__element--last">
    <span class="filters__link">Filter by:</span>
    <%# Category filter %>
    <% if show_category_filter? %>
      <div class="breadcrumb__filters filters">
        <div class="js-category-filters-toggle filters__toggle">
          <a href="#">
            <span class="icon icon--arrow-down">↓</span> 
            <span data-partner-filter-component-target="categoryText" class="filters__link">Category</span>
            </a>
        </div>
        <div class="filters__dropdown filters__dropdown--hidden js-category-filters">
          <div class="filters__group">
            <% categories.each do |category| %>
              <div class="filters__option">
                <%= radio_button_tag "category", 
                                      category.id, 
                                      category_selected?(category.id),
                                      data: { action: "partner-filter-component#submitCategory",
                                              "partner-filter-component-target": "category" },
                                      class: "tag__button" %>
                <%= label_tag "category_#{category.id}", category.name, class: "tag__label" %>
              </div>
            <% end %>
          </div>
          <%# if category_active? %>
            <button data-action="partner-filter-component#resetCategory" class="btn size-patch">Reset</button>
          <%# end %>
        </div>
      </div>
    <% end %>

    <%# Neighbourhood filter %>
    <div class="breadcrumb__filters filters">
      <div class="js-neighbourhood-filters-toggle filters__toggle">
        <a href="#">
          <span class="icon icon--arrow-down">↓</span> 
          <span data-partner-filter-component-target="neighbourhoodText" class="filters__link">Neighbourhood</span>
        </a>
      </div>
      <div class="filters__dropdown filters__dropdown--hidden js-neighbourhood-filters">
        <div class="filters__group">
          <% neighbourhoods.each do |neighbourhood| %>
            <div class="filters__option">
              <%= radio_button_tag "neighbourhood",
                                    neighbourhood.id, 
                                    neighbourhood_selected?(neighbourhood.id),
                                    data: { action: "partner-filter-component#submitNeighbourhood",
                                            "partner-filter-component-target": "neighbourhood" },
                                    class: "tag__button" %>
              <%= label_tag "neighbourhood_#{neighbourhood.id}", neighbourhood.name, class: "tag__label" %>
            </div>
          <% end %>
        </div>
        <% # if neighbourhood_active? %>
          <button data-action="partner-filter-component#resetNeighbourhood" class="btn size-patch">Reset</button>
        <% # end %>
      </div>
    </div>

  </div>
<% end %>