<% content_for :title, 'Partners in your area' %>
<%= render_component "hero", title: 'Partners in your area', subtitle: @site.tagline %>

<div class="c c--lg-space-after">
  <%= render_component "breadcrumb", trail: [['Partners', partners_path]], site_name: @site.name do %>
    <% if @category_filter.show_filter? %>
      <%= @category_filter.render_filter(self) %>
    <% end %>
    <%= @neighbourhood_filter.render_filter(self) %>
  <% end %>

  <hr>
  <ul class="partners reset two-col" id="partners" >
    <% @partners.each do |partner| %>
      <%= render_component("place_partner_preview",
                           previewee: partner,
                           primary_neighbourhood: @primary_neighbourhood,
                           service_areas: partner.service_areas,
                           show_neighbourhoods: @current_site.show_neighbourhoods?,
                           neighbourhood_name: partner.neighbourhood_name_for_site(@current_site.badge_zoom_level)
                           ) %>
    <% end %>
  </ul>
</div>

<div id="map">
  <%= render 'shared/map', points: @map, site: @current_site.slug %>
</div>
