<% content_for :title, @partner.name %>
<% content_for :permalink, @partner.permalink %>

<%= render_component "hero", title: @title, subtitle: "The Community Calendar" %>

<div class="c c--lg-space-after">
  <%= render_component "breadcrumb", trail: [['Partners', partners_path], [@partner.name, partner_path(@partner)]] %>

  <hr>

  <div class="g g--partner">
    <div class="gi gi__3-5">
      <h1 class="udl udl--red sans"><%= @partner.name %></h1>

      <% if @partner.short_description %>
        <div class="first-ele-lg">
          <%= markdown @partner.short_description %>
        </div>
      <% end %>
      <% if @partner.is_a_place? %>
        <% place = @partner.places.first %>
        <%= render_component "place_info",
          name: place.name,
          email: place.email,
          phone: place.phone,
          address: place.address,
          url: place.url
        %>
      <% else %>
        <%= render_component "place_info",
          name: @partner.name,
          email: @partner.public_email,
          phone: @partner.public_phone,
          address: @partner.address,
          url: @partner.url
        %>
      <% end %>
      <% if @partner.places.any? %>
        <p class="small"><%= @partner.name %> manage
        <%= @partner.places.map { |place| link_to place.name, place }.to_sentence.html_safe %>.
      <% end %>
    </div>
    <div class="gi gi__2-5 gi--image">
      <% if @partner.image? %>
        <img src="<%= @partner.image.standard.url %>"
             srcset="<%= @partner.image.standard.url %> 1x, <%= @partner.image.retina.url %> 2x"
             alt="Image for <%= @partner.name %>" >
      <% end %>
    </div>
  </div>

  <% unless @partner.is_a_place? %>
    <% @partner.places.each do |place| %>
      <hr>

      <h2 class="place__title"><%= link_to place.name, place_path(place), class: 'udl udl--red' %></h2>
      <div class="g g--place-list">
        <div class="gi gi__2-5">
          <% if place.short_description %>
            <%= markdown place.short_description %>
          <% end %>
        </div>
        <div class="gi gi__3-5">
          <%= render_component "place_info",
            name: place.name,
            email: place.email,
            phone: place.phone,
            address: place.address,
            url: place.url
          %>
        </div>
      </div>
    <% end %>
  <% end %>

  <hr>

  <%= render_component "event_list",
    events: @events,
    pointer: @current_day,
    period: @period,
    sort: @sort,
    path: "partners/#{@partner.id}/events",
    show_breadcrumb: false
  %>
</div>

<%= render_component "meta", permalink: "/partners/#{@partner.id}" do %>
  <%= link_to "Subscribe to #{@partner}'s events with iCal", partner_url(@partner, protocol: :webcal, format: :ics) %>
<% end %>
