<% content_for :title, @partner.name %>
<% if @partner.summary %>
  <% content_for :description, @partner.summary %>
<% end %>
<% content_for :permalink, @partner.permalink %>

<div vocab="http://schema.org/" typeof="Organization">

  <%= render_component "hero", title: @partner.name, subtitle: @site.tagline, schema: 'name' %>

  <div class="c c--lg-space-after">
    <%= render_component "breadcrumb", trail: [['Partners', partners_path], [@partner.name, partner_path(@partner)]], site_name: @site.name %>

    <hr>

    <div class="g g--partner">
      <div class="gi gi__3-5">
        <% if @partner.summary %>
          <div class="p--big">
            <%= content_tag(:p, @partner.summary) %>
          </div>
          <div property="description">
            <% if @partner.description_html.present? %>
              <%= @partner.description_html.to_s.html_safe %>
            <% end %>
          </div>
        <% end %>

        <h3 class="udl udl--fw allcaps h4">Get in touch</h3>
        <%= render_component "contact_details",
          name: @partner.name,
          email: @partner.public_email,
          phone: @partner.public_phone,
          url: @partner.url,
          twitter_handle: @partner.twitter_handle,
          instagram_handle: @partner.instagram_handle,
          facebook_link: @partner.facebook_link,
          is_valid_phone: @partner.valid_public_phone?
        %>

        <h3 class="udl udl--fw allcaps h4">Address</h3>
        <% if @partner.has_service_areas? %>
          <p>We operate in <%= partner_service_area_text(@partner) %>.</p>
        <% end %>
        <%= render_component "address",
          address: @partner.address
        %>

        <% unless @partner.accessibility_info_html.blank? %>
          <details id='accessibility-info'>
            <summary>Accessibility information</summary>
            <%= @partner.accessibility_info_html.to_s.html_safe %>
          </details>
        <% end %>

        <% if @partner.managees.any? %>
          <p class="small"><%= @partner.name %> manage
          <%= @partner.managees.map { |place| link_to place.name, place }.to_sentence.html_safe %>.
        <% end %>
      </div>
      <div class="gi gi__2-5">
        <% if @partner.image? %>
          <div class="gi__image">
            <img src="<%= @partner.image.standard.url %>"
                 srcset="<%= @partner.image.standard.url %> 1x, <%= @partner.image.retina.url %> 2x"
                 alt="Image for <%= @partner.name %>"
                 class="map--single" >
          </div>
        <% end %>

        <%= render "shared/map", points: @map, site: @current_site.slug, compact: true %>

        <% if @opening_times.any? %>
          <br>
          <h3 class="udl udl--fw allcaps h4">Opening times</h3>
          <%= render_component "opening_times",
            times: @opening_times
          %>
        <% end %>
      </div>
    </div>

    <% @partner.managees.each do |place| %>
      <hr>

      <h2 class="place__title"><%= link_to place.name, partner_path(place), class: 'udl udl--red' %></h2>
      <div class="g g--place-list">
        <div class="gi gi__1-2">
          <% if place.summary_html.present? %>
            <%= place.summary_html.to_s.html_safe %>
          <% end %>
        </div>
        <div class="gi gi__1-2">
          <h3 class="udl udl--fw allcaps h4">Address</h3>
          <div class="small">
            <%= render_component "address",
              address: place.address
            %>
          </div>
          <h3 class="udl udl--fw allcaps h4">Contact</h3>
          <div class="small">
            <%= render_component "contact_details",
              email: place.public_email,
              phone: place.public_phone,
              url: place.url,
              is_valid_phone: @partner.valid_public_phone?
            %>
          </div>
        </div>
      </div>
    <% end %>

    <hr>

    <% if @events.any? %>
      <%= render_component "event_list",
        events: @events,
        pointer: @current_day,
        period: @period,
        sort: @sort,
        path: "partners/#{@partner.id}/events",
        show_breadcrumb: false,
        show_paginator: @paginator
      %>
    <% else %>
      <p><em><%= @no_event_message %></em></p>
    <% end %>
  </div>
</div>

<%= render_component "meta", permalink: "/partners/#{@partner.id}" do %>
  <%= link_to "Subscribe to #{@partner}'s events with iCal", partner_url(@partner, protocol: :webcal, format: :ics) %>
<% end %>
