<div class="event">
  <article>
    <% if page? %>
      <%= render_component "hero", title: summary %>
        <div class="c">
    <% else %>
      <h3 itemprop="name"><%= link_to summary, event_path(properties[:id]) %></h3>
    <% end %>
    <div class="event__details">
      <div class="event__detail event__time">
        <span class="icon icon--time">🕒</span>
        <%= time %>
      </div>
      <div class="event__detail event__duration">
        <span class="icon icon--duration">⌛</span>
        <%= duration %>
      </div>
      <div class="event__detail event__date">
        <span class="icon icon--date">📅</span>
        <%= date %>
      </div>
      <div class="event__detail event__location">
        <span class="icon icon--place">🏠</span>
        <% if properties[:place] %>
          <%= link_to properties[:place], place_path(properties[:place]) %>
        <% elsif properties[:location] %>
          <%= location %>
        <% end %>
      </div>
      <% if repeats %>
        <div class="event__detail event__repeats">
          <span class="icon icon--repeats">🔁</span>
          <%= repeats %>
        </div>
      <% end %>
    </div>
    <% if page? %>
      </div> <!-- </div class="c"> -->
    <% end %>
  </article>
</div>