<div class="event <%= page? ? 'event--full' : 'event--list' %>">
  <article>
    <% if page? %>
      <%= render_component "hero", title: summary %>
        <div class="c">
    <% else %>
      <h3 itemprop="name"><%= link_to summary, event_path(id) %></h3>
    <% end %>
    <div class="event__details">
      <!-- Name of neighbourhood turf for this event: -->
      <!-- <%= turf_name || "nil" %> -->
      <div class="event__detail event__time">
        <span class="icon icon--time">🕒</span>
        <%= time %>
      </div>
      <% if duration %>
        <div class="event__detail event__duration">
          <span class="icon icon--duration">⌛</span>
          <%= duration %>
        </div>
      <% end %>
      <div class="event__detail event__date">
        <span class="icon icon--date">📅</span>
        <%= date %>
      </div>
      <% if place || location %>
        <div class="event__detail event__location">
          <span class="icon icon--place">🏠</span>
          <% if place %>
            <%= link_to place, place_path(place) %>
          <% elsif location %>
            <%= location %>
          <% end %>
        </div>
      <% end %>
      <% if repeats %>
        <div class="event__detail event__repeats">
          <span class="icon icon--repeats">🔁</span>
          <%= repeats %>
        </div>
      <% end %>
    </div>
    <% if page? %>
      </div> <!-- </div class="c"> -->
    <% end %>
  </article>
</div>
