<%- disabled_fields = policy(@article).disabled_fields %>
<%= simple_form_for [:admin, @article] do |f| %>
  <%= render_component "error", object: @article %>

  <%= f.input :title, id: :article_title, as: :string, input_html: { class: 'special' } %>

  <%= f.association :author, input_html: { class: 'form-control select2' } %>

  <%= f.input :body, input_html: { rows: 20 } %>
  <%= f.input :is_draft %>

  <hr>

  <h2>Partners</h2>
  <p>Display this in relation to the given partners</p>
  <% if disabled_fields.include?(:partner_ids) %>
    <%# # Create a dummy field, because f.assoc disappears %>
    <%= f.input :partners, collection: options_for_partners,
        input_html: { class: 'form-control select2 multi-select' }, disabled: true %>
  <% else %>
    <%= f.association :partners, collection: options_for_partners,
                      input_html: { class: 'form-control select2 multi-select' } %>
  <% end %>

  <hr>

  <h2>Header</h2>
  <p>Headers should be one of: svg, png, jpg<p>
  <% if disabled_fields.include?(:article_image) %>
    <%= f.input :article_image, disabled: true %>
  <% else %>
    <%= f.input :article_image %>
  <% end %>
  <%= image_tag f.object.article_image.highres.url, class: 'card-img-top' if f.object.article_image.highres.url %>

  <span>
    <br>
    <%= f.submit 'Save', class: "btn btn-primary" %>
    <% if !@article.new_record? && policy(@article).destroy? %>
      <%= link_to "Destroy", admin_article_path(@article), method: :delete, class: "ml-3 btn btn-danger" %>
    <% end %>
  </span>
<% end %>
