<div class="footer_home">

    <div class="footer_home__head">
      <%= image_tag 'home/icons/logo.svg', class: "footer_home__logo" , alt: "PlaceCal logo" %>
      <hr class="footer_home__hr footer_home__hr--mobile_only">
      <nav>
        <ul class="footer_home__nav">
          <li><%= link_to "Admin log in", new_user_session_path, class: "footer_home__nav__link" %></li>
          <li><%= link_to "Get PlaceCal", get_in_touch_path , class: "footer_home__nav__link"%></li>
          <li><%= mail_to "info@placecal.org", "Email us", class: "footer_home__nav__link" %></li>
        </ul>
      </nav>
    </div>

    <hr class="footer_home__hr">

    <div class="footer_home__body">
      <h5 class="footer_home__body__title">Created by</h5>

      <ul class="footer_home__body__logos">
        <li>
          <%= link_to "https://gfsc.studio" do %>
            <%= image_tag "home/logos/gfsc.svg" , alt: "Geeks For Social Change" %>
          <% end %>
        </li>
        <li aria-hidden="true" >
          <%= image_tag "home/icons/plus.svg" , alt: "" %>
        </li>
        <li>
          <%= image_tag "home/logos/phase.svg" , alt: "PHASE: place, health, architecture, space, enviroment" %>
        </li>
      </ul>

      <h5 class="footer_home__body__title">Sponsored by</h5>
       
      <ul class="footer_home__body__logos">
        <li>
          <%= image_tag "home/logos/cityverve.svg" , alt: "Cityverve" %>
        </li>
        <li>
          <%= image_tag "home/logos/nesta.svg" , alt: "Nesta" %>
        </li>
        <li>
          <%= image_tag "home/logos/aal.svg" , alt: "Active Assisted Living" %>
        </li>
        <li>
          <%= image_tag "home/logos/lankley.png" , alt: "lankelly chase" %>
        </li>
      </ul>
    </div>

    <hr class="footer_home__hr">

    <div class="footer_home__foot">
      <p>&copy; 2019-<%= Date.today.year %> Place Health Technology CIC t/a PlaceCal.</p>

      <p>
        Registered in England and Wales.<br>
        5 Ribston Street, Manchester, M15 5RH.<br>
        Company No. 12135472<br>
        <%= link_to "Privacy policy", privacy_path, class: "footer_home__foot__link" %>
        <%= link_to "Terms of use", terms_of_use_path, class: "footer_home__foot__link" %>
      </p>

      <p>
        <% build = ENV['GIT_REV'] ? ENV['GIT_REV'][0,7] : 'main' %>
        Build: <tt><%= link_to build, "https://github.com/geeksforsocialchange/PlaceCal/commit/#{build}" , class: "footer_home__foot__link" %></tt>
      </p>

      <% if Rails.env.development? %>
        <pre>
          <%# debug(params) %>
          <%# console %>
        </pre>
      <% end %>
  </div>
</div>
