<div class="c">
  <div class="header">
    <div class="header__branding" role="banner">
      <%= link_to root_path do %>
        <h2>PlaceCal</h2>
        <p>The Community Calendar</p>
      <% end %>
    </div>
    <nav>
      <ul class="nav nav__primary" role="navigation">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Places", places_path %></li>
        <li><%= link_to "Partners", partners_path %></li>
        <li><%= link_to "Join", join_path %></li>
      </ul>
    </nav>
  </div>
<<<<<<< HEAD
=======
  <nav>
    <ul class="nav nav__primary" role="navigation">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Places", places_path %></li>
      <li><%= link_to "Partners", partners_path %></li>
      <li><%= link_to "Join", join_path %></li>
    </ul>
  </nav>
>>>>>>> bae87349bf109eaa1bd174226c7af16d48558b2f
</div>
