<div class="header">
  <div class="header__branding" role="banner">
    <h2><%= link_to "PlaceCal", root_path %></h2>
    <p>The Community Calendar</p>
  </div>
  <nav>
    <ul class="nav nav__primary" role="navigation">
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Places", places_path %></li>
      <li><%= link_to "Partners", partners_path %></li>
      <li><%= link_to "Join", join_path %></li>
    </ul>
  </nav>
</div>
