<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{yield(:title)} | " if content_for?(:title) %>PlaceCal Admin</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="/assets/tom-select.css" media="all" data-turbo-track="reload">
    <link rel="stylesheet" href="/assets/admin_tailwind.css" media="all" data-turbo-track="reload">

    <%= javascript_include_tag 'admin', 'data-turbo-track': 'reload', defer: true %>
    <%# NOTE: Google fonts removed - using self-hosted fonts from Tailwind CSS %>

    <%= render "layouts/meta" %>
  </head>

  <body class="bg-gray-50">
    <%= render "layouts/admin/admin_topbar" %>

    <div class="flex pt-14">
      <nav class="hidden md:block w-56 fixed h-screen bg-gray-100 border-r border-gray-200 overflow-y-auto">
        <div class="py-4">
          <%= render "layouts/admin/admin_navigation" %>
        </div>
      </nav>
      <main role="main" class="flex-1 md:ml-56 min-h-screen px-6 py-4">
        <%= render(AdminFlash.new()) %>
        <%= yield %>

        <% if Rails.env.development? %>
          <div class="font-mono text-gray-500 mt-8 text-sm">
            <%= debug(params) %>
          </div>
        <% end %>
      </main>
    </div>
  </body>
</html>
