<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{yield(:title)} | " if content_for?(:title) %>PlaceCal Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'admin', 'https://fonts.googleapis.com/css?family=Raleway:500,700,800|Trocchi', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'admin', 'data-turbolinks-track': 'reload' %>

    <%= render "layouts/meta" %>
  </head>

  <body>
    <%= render "layouts/admin/admin_topbar" %>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <%= render "layouts/admin/admin_navigation" %>
          </div>
        </nav>
        <main role="main" class="col-md-9 mt-3 ml-sm-auto col-lg-10 px-4">
          <%= render_component "admin_flash" %>
          <%= yield %>

          <% if Rails.env.development? %>
            <div class="text-monospace text-muted mt-5">
              <%= debug(params) %>
              <%# console %>
            </div>
          <% end %>
        </main>
      </div>
    </div>
  </body>
</html>
