<!DOCTYPE html>
<html>
  <head>
    <title>PlaceCal - <%= content_for?(:title) ? yield(:title) : 'The Community Calendar' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'admin', 'https://fonts.googleapis.com/css?family=Raleway:500,700,800|Trocchi', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render "layouts/meta" %>
  </head>

  <body>
    <header>
      <%= render "layouts/admin/admin_navigation" %>
    </header>
    <main>
      <%= yield %>
    </main>
    <%= yield :first_min_js %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': false %>
    <%= yield :last_min_js %>
  </body>
</html>
