<li class="preview" data-categories="<%= data_categories %>" data-neighbourhoods="<%= data_neighbourhoods %>">
  <div class="preview__header">
    <h3><%= link_to @partner.name, @partner %></h3>
    <% if show_neighbourhood? %>
      <div class="neighbourhood <%= primary_neighbourhood? ? 'neighbourhood--primary' : 'neighbourhood--secondary' %> preview__neighbourhood">
        <span><%= @neighbourhood_name %></span>
      </div>
    <% end %>
  </div>

  <% if @partner.description %>
    <div class="preview__details">
      <%= content_tag :p, @partner.summary %>
      <%= @partner.categories.map(&:name) %><br>
      <%= @partner.neighbourhoods.map(&:name) %>
    </div>
  <% end %>
</li>
