<% if user_signed_in? %>
  <%= render_component "hero", title: current_user.email, subtitle: "Your profile" %>
  <div class="c">
    <p>
      Logged in as <strong><%= current_user.email %></strong><br><br>
      <%= link_to 'Edit profile', edit_user_registration_path %><br>
      <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
    </p>
  </div>
<% else %>
  <%= render_component "hero", title: "Sign Up", subtitle: "Create an account or log in" %>
  <div class="c">
    <p>
      <%= link_to "Sign up", new_user_registration_path  %><br>
      <%= link_to "Login", new_user_session_path  %>
    </p>
  </div>      
<% end %>
