<%= simple_form_for [:admin, @neighbourhood] do |f| %>

  <%= render_component "error", object: @neighbourhood %>

  <h2>Neighbourhood name</h2>
  <p>This can be anything but is almost always the ward name. It's what shows up in the user frontend. If the neighbourhood name is long, add an abbreviation too.</p>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :name, label: 'Name', as: :vue_string %>
    </div>
    <div class="col-md-6">
      <%= f.input :name_abbr, label: 'Abbreviated name' %>
    </div>
  </div>

  <h2>PlaceCal ward info</h2>
  <p>This information starts as the official designation, but can be changed by us if we don't like it. This is the information that shows up in the frontend where appropriate.</p>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :district, as: :vue_string %>
    </div>
    <div class="col-md-6">
      <%= f.input :county, as: :vue_string %>
      <%= f.input :region, as: :vue_string %>
    </div>
  </div>

  <h2>Official ward info</h2>
  <p>This information is the official designation set by the UK Boundary Commission. It's kept here for postcode lookups and posterity.</p>

  <h3>Ward</h3>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :unit_code_value, label: 'WD19CD', readonly: true %>
    </div>
    <div class="col-md-6">
      <%= f.input :unit_name, label: 'WD19NM', readonly: true %>
    </div>
  </div>

  <% if policy(@neighbourhood).set_users? %>
    <h2>Neighbourhood admins</h2>
    <p>The list of users with admin rights to this neighbourhood.</p>

    <%= f.association :users, label: "Users", collection: options_for_users, input_html: { class: 'form-control select2' } %>
  <% end %>

  <%= f.submit "Save", class: "btn btn-primary" %>
  <% if !@neighbourhood.new_record? && policy(@neighbourhood).destroy? %>
    <%= link_to "Destroy", admin_neighbourhood_path(@neighbourhood), method: :delete, class: "ml-3 btn btn-danger" %>
  <% end %>
  <br><br>
<% end %>
