<%= simple_form_for [:admin, @neighbourhood] do |f| %>

  <%= render_component "error", object: @neighbourhood %>

  <h2>Neighbourhood name</h2>
  <p>This can be anything but is almost always the ward name. It's what shows up in the user frontend. If the neighbourhood name is long, add an abbreviation too.</p>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :name, label: 'Name' %>
    </div>
    <div class="col-md-6">
      <%= f.input :name_abbr, label: 'Abbreviated name' %>
    </div>
  </div>

  <h2>Official neighbourhood info</h2>
  <p>This information is the official designation set by the UK Boundary Commission.</p>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :unit, readonly: true  %>
      <%= f.input :unit_name, readonly: true  %>
      
    </div>
    <div class="col-md-6">
      <%= f.input :unit_code_key, readonly: true  %>
      <%= f.input :unit_code_value, readonly: true  %>
    </div>
  </div>

  <% unless @neighbourhood.new_record? %>
    <h2>Relations</h2>
    <div class="row">
      <div class="col-md-6">
        <h3>Ancestors</h3>
        <ul>
          <% @neighbourhood.ancestors.each do |parent| %>
            <li><%= link_to(parent, edit_admin_neighbourhood_path(parent)) if parent.to_s.length > 0 %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6">
        <h3>Children</h3>
        <ul>
          <% @neighbourhood.children.each do |parent| %>
            <li><%= link_to(parent, edit_admin_neighbourhood_path(parent)) if parent.to_s.length > 0 %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if policy(@neighbourhood).set_users? %>
    <h2>Neighbourhood admins</h2>
    <p>The list of users with admin rights to this neighbourhood.</p>

    <%= f.association :users, label: "Users", collection: options_for_users, input_html: { class: 'form-control select2' } %>
  <% end %>

  <%= f.submit "Save", class: "btn btn-primary" %>
  <% if !@neighbourhood.new_record? && policy(@neighbourhood).destroy? %>
    <%= link_to "Destroy", admin_neighbourhood_path(@neighbourhood), method: :delete, class: "ml-3 btn btn-danger" %>
  <% end %>
  <br><br>
<% end %>
