<ol class="breadcrumb">
  <% @neighbourhood.ancestors.each do |parent| %>
  <li class="breadcrumb-item"><%= link_to(safe_neighbourhood_name(parent), admin_neighbourhood_path(parent)) %></li>
  <% end %>
  <li class="breadcrumb-item active"><%= safe_neighbourhood_name(@neighbourhood) %></li>
</ol>

<h1><%= safe_neighbourhood_name(@neighbourhood) %></h1>

<p><%= link_to 'Edit', edit_admin_neighbourhood_path(@neighbourhood), class: 'btn btn-primary mb-3' %></p>

<% if @neighbourhood.children.present? %>
<% @neighbourhood.children.order(:name).each do |child| %>
<p>
  <%= link_to(safe_neighbourhood_name(child), admin_neighbourhood_path(child)) %>
  <% if child.descendants.present? %><span title="descendants">(<%= child.descendants.count %>)</span><% end %>
<p>
<% end %>
<% else %>
<p>This neighbourhood does not contain anything.</p>
<% end %>

<hr>
<h2>Address Partners</h2>
<p>Found <%= @neighbourhood.address_partners.count %>.</p>
<% @neighbourhood.address_partners.order(:name).each do |partner| %>
<p><%= link_to partner.name, edit_admin_partner_path(partner) %></p>
<% end %>

<hr>
<h2>Service Area Partners</h2>
<p>Found <%= @neighbourhood.service_area_partners.count %>.</p>
<% @neighbourhood.service_area_partners.order(:name).each do |partner| %>
<p><%= link_to partner.name, edit_admin_partner_path(partner) %></p>
<% end %>

<hr>
<h2>Sites</h2>
<p>Found <%= @neighbourhood.sites.count %>.</p>
<% @neighbourhood.sites.order(:name).each do |site| %>
<p><%= link_to site.name, edit_admin_site_path(site) %></p>
<% end %>

<hr>
<h2>Admin Users</h2>
<p>Found X.</p>
