<%= simple_form_for [:admin, @supporter], html: { class: 'form' } do |f| %>
  <%= f.input :name %>
  <%= f.input :url %>
  <%= f.input :logo %>
  <div class="card">
    <%= image_tag f.object.logo, class: 'card-img-top' %>
    <div class="card-title">
      Current logo
    </div>
  </div>
  <br>
  <%= f.input :description %>
  <%= f.input :weight %>
  <%= f.input :is_global %>
  <%= f.association :sites, as: :check_boxes %>
  <%= f.button :submit, class: "btn btn-primary " %>
  <br><br>
  <% unless @supporter.new_record? %>
    <%= link_to "Destroy Supporter", admin_supporter_path(@supporter), method: :delete, class: "btn btn-danger" %>
  <% end %>
<% end %>
