<div class="breadcrumb__filters filters">
  <div class="js-neighbourhood-filters-toggle filters__toggle">
    <a href="#" data-turbo="false"><span class="icon icon--arrow-down">↓</span> <span class="filters__link">Neighbourhood</span></a>
  </div>
  
  <%= form_tag request.original_url, method: :get, class: 'filters__form', data: { turbo: false } do %>

  <% if params[:sort] %>
    <input type="hidden" id="sort" name="sort" value=<%= params[:sort] %> />
  <% end%>
  <% if params[:period] %>
    <input type="hidden" id="period" name="period" value=<%= params[:period] %> />
  <% end%>
  <% if params[:repeating] %>
    <input type="hidden" id="repeating" name="repeating" value=<%= params[:repeating] %> />
  <% end%>
  
  <div class="filters__dropdown filters__dropdown--hidden js-neighbourhood-filters">
    <div class="filters__group" >
      <% filter.neighbourhoods.each do |neighbourhood| %>
      <div class="filters__option">
        <%= radio_button_tag 'neighbourhood', neighbourhood.id, filter.current_neighbourhood?(neighbourhood), class: "tag__button" %>
        <%= label_tag 'neighbourhood', neighbourhood.name, class: "tag__label" %>
      </div>
      <% end %>
    </div>
    <hr>
    <% if filter.active? %>
    <a href=<%= filter.reset(request.original_url) %> class="btn size-patch" role="button">Reset</a>
    <% end %>
    <%= button_tag 'Filter', name: nil, class: 'btn size-patch' %>
  </div>
  <% end %>
</div>
