<p id="notice"><%= notice %></p>

<h1>Activities from <%= @current_day.strftime("%A %e %B") %> &mdash; <%= (@next_week - 1.day).strftime("%A %e %B, %Y") %></h1>

<ol class="paginator paginator--day reset">
  <li><%= link_to "â† Previous Week", "/activities/#{@previous_week.year}/#{@previous_week.month}/#{@previous_week.day}" %></li>
  <li><%= link_to "Next Week â†’", "/activities/#{@next_week.year}/#{@next_week.month}/#{@next_week.day}" %></li>
</ol>

<% if @events.any? %>
  <ol class="events reset">
    <% @events.each do |event| %>
      <li class="event">
        <%= render_component "event", context: :week,
                                      event: event,
                                      primary_neighbourhood: @primary_neighbourhood,
                                      show_neighbourhoods: @current_site.show_neighbourhoods? %>
      </li>
    <% end %>
  </ol>
<% else %>
  <p>No events this week ðŸ˜ž</p>
<% end %>
