<% content_for :title, "#{@event.summary}, #{@event.date}, #{@event.time}" %>
<% content_for :description, @event.description %>
<% content_for :permalink, @event.permalink %>

<%= render_component "event", context: :page, event: @event, primary_neighbourhood: @primary_neighbourhood %>

<div class="c c--narrow c--space-after event__fullinfo">
  <%= @event.description_html.to_s.html_safe %>
  <%= event_link(@event) %>

  <br>

  <%= online_link %>

  <div class="g two-col">
    <div class="gi gi__1-2">
      <% if @event.partner %>
        <h3 class="h4 udl">Contact information</h3>
        <div class="small">
          <%= render_component "contact_details",
            name: @event.partner.name,
            email: @event.partner.public_email,
            phone: @event.partner.public_phone,
            url: @event.partner.url
          %>
        <% end %>
      </div>
    </div>
    <div class="gi gi__1-2">
      <h3 class="h4 udl">Event address</h3>
      <div class="small">
        <%= render_component "address",
          address: @event.address
        %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/map', points: @map, site: @current_site.slug, style: :multi %>

<%= render_component "meta", permalink: "/events/#{@event.id}" do %>
  <%# link_to 'Subscribe to this event with iCal', event_url(@event, protocol: :webcal, format: :ics) %>
  <% contact = @event&.calendar&.contact_information %>
  <% if contact %>
    <div class="contact_information">
      Problem with this listing? <%= mail_to contact[0],
                                  'Let us know.',
                                  subject: "I think there's a problem with PlaceCal event http://placecal.org#{event_path(@event)}",
                                  cc: 'support@placecal.org' %>
    </div>
  <% end %>
<% end %>
