<% content_for :title, "#{@event.summary}, #{@event.date}, #{@event.time}" %>
<% content_for :permalink, @event.permalink %>

<%= render_component "event", context: :page, event: @event, primary_neighbourhood: @primary_neighbourhood %>

<div class="c c--narrow c--space-after event__fullinfo">
  <%= markdown @event.description %>
  <div class="g two-col">
    <div class="gi gi__1-2">
      <% if @event.partner %>
        <h3 class="h4 udl">Contact information</h3>
        <div class="small">
          <%= render_component "contact_details",
            name: @event.partner.name,
            email: @event.partner.public_email,
            phone: @event.partner.public_phone,
            url: @event.partner.url
          %>
        <% end %>
      </div>
    </div>
    <div class="gi gi__1-2">
      <h3 class="h4 udl">Event address</h3>
      <div class="small">
        <%= render_component "address",
          address: @event.address
        %>
      </div>
    </div>
  </div>
</div>
<% if @map&.any? %>
  <%= render_component "map", points: @map, style: :full, site: @current_site.slug %>
<% end %>

<%= render_component "meta", permalink: "/events/#{@event.id}" do %>
  <%= link_to 'Subscribe to this event with iCal', event_url(@event, protocol: :webcal, format: :ics) %>
<% end %>
