<%= render_component "event", 
  context: :page,
  id: @event.id,
  summary: @event.summary,
  dtstart: @event.dtstart,
  dtend: @event.dtend,
  rrule: @event.rrule,
  place: @event.place,
  location: @event.location 
%>

<div class="c c--narrow c--space-after">
  <%= markdown @event.description %>
  <% if @event.place %>
    <div class="g">
      <div class="gi gi__1-3">
        <h3 class="h4">Event planner</h3>
      </div>
      <div class="gi gi__1-3">
        <h3 class="h4">Event address</h3>
        <div class="small">
          <strong><%= @event.place.name %></strong><br/>
          <%= @event.place.address %>
        </div>
      </div>
      <div class="gi gi__1-3">

      </div>
    </div>
  <% end %>
</div> 

<%= render_component "map", points: @map %>