<%= render_component "event", 
  context: :page,
  id: @event.id,
  summary: @event.summary,
  dtstart: @event.dtstart,
  dtend: @event.dtend,
  rrule: @event.rrule,
  place: @event.place,
  location: @event.location 
%>

<div class="c c--narrow c--space-after">
  <%= markdown @event.description %>
  <%= @event.source_link if @event.source_link %>
  <% if @event.place %>
    <div class="g">
      <div class="gi gi__1-3">
        <h3 class="h4 udl">Contact information</h3>
        <div class="small">Coming soon!</div>
      </div>
      <div class="gi gi__1-3">
        <h3 class="h4 udl">Event address</h3>
        <div class="small">
          <strong><%= link_to @event.place.name, place_path(@event.place) %></strong><br/>
          <%= @event.place.address %>
        </div>
      </div>
      <div class="gi gi__1-3">

      </div>
    </div>
  <% end %>
</div> 

<% if @map&.any? %>
  <%= render_component "map", points: @map, style: :full %>
<% end %>