<div class='nested-fields'>
  <%= f.input :street_address, class: "form-control address_1 address_field" %>
  <%= f.input :street_address2, class: "form-control address_2 address_field" %>
  <%= f.input :street_address3, class: "form-control address_3 address_field" %>
  <%= f.input :city, class: "form-control city address_field" %>
  <%= f.input :postcode, class: "form-control postcode address_field" %>
</div>
