<% content_for :title, "News from your area" %>

<%= render_component 'hero', title: 'News from your area', subtitle: @site.tagline %>


<div class='articles'>
  <% @articles.each do |article| -%>
    <div class='articles__article-card g'>

      <div class='gi gi__1-5 articles__aside'>
        <p class='articles__published' title="<%= article.published_at %>"><%= article.published_at.strftime('%B %Y') %></p>
      </div>

      <div class='gi gi__4-5 articles__main'>
        <h2 class='articles__title'><%= link_to article.title, news_path(article) %></h2>

        <div class='g articles__content'>
          <div class='gi articles__body'>
            <p><%= article.summary_text %></p>
          </div>

          <% if article.article_image.present? %>
            <div class='gi articles__image'>
              <%= image_tag article.article_image.url, class: 'border' %>
            </div>
          <% end %>
        </div>

        <p><%= link_to 'Find out more', news_path(article), class: 'btn btn--alt btn--mt' %></p>
      </div>
    </div>
  <% end %>
</div>

<p class='articles__pagination'>
<% if @articles.count == NewsController::ARTICLES_PER_PAGE -%>
  <%= link_to 'Older news items', "?offset=#{@next_offset}" %>
<% end -%>
</p>
