<h1>Calendar Importer Status</h1>

<p>Currently have <%= @job_count %> jobs</p>

<% states = Calendar::ALLOWED_STATES -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>State</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% states.each do |state_name| -%>
      <tr>
        <td><%= state_name %></td>
        <td><%= @calendar_counts[state_name] || 0 %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<% if @error_calendars.count > 0 -%>
<h2><%= @error_calendars.count %> Error Calendars</h2>
<% @error_calendars.order(:name).each do |cal| -%>
  <h3><%= link_to cal.name, edit_admin_calendar_path(cal) -%></h3>
  <%= render 'calendar_row', cal: cal %>
  <br>
<% end -%>
<% end -%>

<% if @busy_calendars.count > 0 -%>
<h2><%= @busy_calendars.count %> Busy Calendars</h2>
<% @busy_calendars.order(:name).each do |cal| -%>
  <h3><%= link_to cal.name, edit_admin_calendar_path(cal) -%></h3>
  <%= render 'calendar_row', cal: cal %>
<br>
<% end -%>
<% end -%>

<!-- pre>
<% #= JSON.pretty_generate(@calendar_counts) %>
</pre -->
