<%= simple_form_for @tag, url: (@tag.new_record? ? admin_tags_path : admin_tag_path) do |f| %>
  <%= render_component "error", object: @tag %>

  <%= f.input :name, class: "form-control" %>

  <%= f.input :slug, class: "form-control" %>

  <%= f.input :description, class: "form-control" %>

  <%= f.input :edit_permission,
              as: :radio_buttons,
              label_method: ->(val){ Tag.edit_permission_label(val) },
              hint: 'Users with this role will be granted access to assign this tag' %>

  <%# = f.association :partner, collection: @partners %>
  <% unless @tag.new_record? %>
    <h2>Partners</h2>
    <% unless @partners.empty? %>
      <ul>
        <% @partners.each do |partner| %>
          <li><%= partner.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No partners yet.</p>
    <% end %>
  <% end %>

  <%= f.submit "Save", class: "btn btn-primary" %><br><br>
  <%# TODO: work out why this is failing %>
  <%# button_to "Destroy Tag", @tag, method: :delete, class: "btn btn-danger" %>
<% end %>
