<%- disabled_fields = policy(@tag).disabled_fields %>

<% if !@tag.new_record? %>
<p>A tag of type <em><%= @tag.class %></em>.</p>
<% end %>

<% if @tag.system_tag %>
  <div class="card text-black bg-warning mb-3">
    <div class="card-header">
      <h6>WARNING: This tag is used by the PlaceCal backend so you cannot change the Name or Slug values.</h6>
    </div>
  </div>
<% end %>

<%= simple_form_for @tag,
    as: :tag,
    url: (@tag.new_record? ? admin_tags_path : admin_tag_path) do |f| %>

  <%= render_component "error", object: @tag %>

  <%= f.input :name, class: 'form-control',
              disabled: disabled_fields.include?(:name) || @tag.system_tag %>

  <%= f.input :slug, class: 'form-control',
              disabled: disabled_fields.include?(:slug) || @tag.system_tag %>

  <%= f.input :description, class: 'form-control',
              disabled: disabled_fields.include?(:description) %>

  <% if current_user.root? -%>
    <%= f.input :system_tag, class: 'form-control',
      disabled: disabled_fields.include?(:system_tag),
      hint: 'This tag is read only and should not be edited' %>
  <% end -%>

  <% if @tag.type.blank? || @tag.type == 'Tag' %>
  <%= f.input :type,
      collection: {
      'None': '',
      'Category': 'Category',
      'Facility': 'Facility',
      'Partnership': 'Partnership' },
      default: 'None',
      class: 'form-control' %>
  <p><em>Be careful!</em> Once set this cannot be changed.</p>
  <br>
  <% end %>

  
  <%= f.input :edit_permission,
              as: :radio_buttons,
              label_method: ->(val){ edit_permission_label(val) },
              hint: 'Users with this role will be granted access to assign this tag',
              disabled: disabled_fields.include?(:edit_permission) %>


  <h2>Tagged Partners</h2>
  <p>Apply this tag to the given partners</p>
  <% if disabled_fields.include?(:partner_ids) %>
    <%# # Create a dummy field, because f.assoc disappears %>
    <%= f.input :partners, collection: options_for_partners,
        input_html: { class: 'form-control', data: { controller: "select2" } }, disabled: true %>
  <% else %>
    <%= f.association :partners, collection: options_for_partners,
        input_html: { class: 'form-control', data: { controller: "select2" } } %>
  <% end %>

  <h2>Assigned Users</h2>
  <p>Grant permission to assign this tag</p>
  <% if disabled_fields.include?(:user_ids) %>
    <%# # Create a dummy field, because f.assoc disappears %>
    <%= f.association :users,
        input_html: { class: 'form-control', data: { controller: "select2" } }, disabled: true %>
  <% else %>
    <%= f.association :users, collection: options_for_users,
        input_html: { class: 'form-control', data: { controller: "select2" } } %>
  <% end %>

  <span>
    <br>
    <br>
    <%= f.submit "Save", class: "btn btn-primary" %>
    <% if !@tag.new_record? && policy(@tag).destroy? %>
      <%= link_to "Destroy", admin_tag_path(@tag), method: :delete, class: "ml-3 btn btn-danger" %>
    <% end %>
  </span>
  <br>
<% end %>
