<h1>Tags</h1>

<% if current_user.role.root? %>
<%= link_to "Add New Tag", new_admin_tag_path, class: "btn btn-primary mb-3" %>
<% end %>

<br>

<p><%= @tags.count %> tags found</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th class="text-right">ID</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
    <tr>
      <td><%= link_to tag.name, edit_admin_tag_path(tag) %></td>
      <td><%= tag.class %></td>
      <td class="text-right"><%= tag.id %></td>
    </tr>
    <% end %>
  </tbody>
</table>
