
<article class="home">
  <div class="margin">
    <%= render(FeaturedPartnershipsComponent.new) %>

    <div class="card card--first center">
      <h1 class="section">Find your PlaceCal</h1>
      <p class="alt-title-small">Pick your community to check out what’s on in your area.</p>
    </div>

    <%= render(ContainerWithHeaderComponent.new(title: "[cCc]Check out a neighbourhood",  color: "green")) do %>
      <%= render(FourColGridComponent.new()) do %>
        <% @sites.each do |site| %>
          <%= render(NeighbourhoodHomeCardComponent.new(site: site)) %>
        <% end %>
      <% end %>
    <% end %>

    <%= render 'get_in_touch' %>
  </div>
</article>
