
<article class="home">
  <div class="margin">
    <div class="card card--first center">
      <h1 class="section">Find your PlaceCal</h1>
      <p class="alt-title-small">Here's a list of all PlaceCal instances, organised by interest and location.</p>
    </div>
    <%= render(Components::FeaturedPartnerships.new(sites: @partnerships)) %>
    <%= render(Components::ContainerWithHeader.new(title: "Place-based calendars",  color: "green")) do %>
      <%= render(Components::FourColGrid.new()) do %>
        <% @neighbourhoods.each do |site| %>
          <%= render(Components::NeighbourhoodHomeCard.new(site: site)) %>
        <% end %>
      <% end %>
    <% end %>

    <%= render 'get_in_touch' %>
  </div>
</article>
