<article class="home">
  <div class="card">
    <h1>The Community Calendar</h1>

    <p>PlaceCal is a community directory and events calendar where you can find out everything that’s happening in your neighbourhood all in one place.</p>

    <%= link_to "Find a PlaceCal near you", find_placecal_path %>
  </div>

  <div class="card card--alt">
    <h2>We help communities thrive</h2>

    <p class="border"><strong>Do you want to bring your neighbourhood together to create a stronger, more resilient community?</strong></p>

    <p class="border"><strong>Do you want to improve the health and wellbeing of all residents and to reduce social isolation and loneliness?</strong></p>

    <p class="border"><strong>Do you want to support each community group in  your area to easily publish high quality information about their activities online?</strong></p>

    <%= link_to "Our story", our_story_path %>
    <%= link_to "Who is PlaceCal?", '#who' %>
    <%# link_to "Features", find_path %>
  </div>


  <h2>How we can help</h2>

  <div class="card">
    <h3>Community groups</h3>
    <p>Convert your local knowledge into a great community information website.</p>
    <%= link_to "View more", community_groups_path %>
  </div>

  <div class="card">
    <h3>Metropolitan areas</h3>
    <p>Publish what’s on guides across health, housing, and council sectors.</p>
    <%= link_to "View more", metropolitan_areas_path %>
  </div>

  <div class="card">
    <h3>VCSEs</h3>
    <p>Support community groups in your neighbourhood to work better together.</p>
    <%= link_to "View more", vcses_path %>
  </div>

  <div class="card">
    <h3>Housing providers</h3>
    <p>Connect your tenants with their local community.</p>
    <%= link_to "View more", housing_providers_path %>
  </div>

  <div class="card">
    <h3>Social prescribers and GPs</h3>
    <p>Publish what’s on guides across health, housing, and council sectors.</p>
    <%= link_to "View more", social_prescribers_path %>
  </div>

  <div class="card">
    <h3>Culture and tourism</h3>
    <p>Bring more people into your venue, your area or your city.</p>
    <%= link_to "View more", culture_tourism_path %>
  </div>

  <div class="card">
    <h2>Learn how you can get PlaceCal</h2>
    <%= link_to "Get in touch today", join_path %>
  </div>


  <div class="card" id="who">
    <h2>Who is PlaceCal?</h2>

    <p>We are a not-for-profit social enterprise established by Geeks for Social Change in conjunction with Manchester School for Architecture.</p>

    <p>PlaceCal was developed to combat social isolation and loneliness in our neighbourhood. We discovered that it would have amazing wellbeing and social benefits for every neighbourhood.</p>

    <p>The PlaceCal project was conceived as part of “Manchester Age Friendly Neighbourhoods”, an age friendly partnership project described as ‘world class’ by the World Health Organisation.</p>

    <div class="award">
      <p><strong>Winner:</strong> AAL Smart Ageing Prize 2018</p>
      <%= link_to "Read more", "http://www.aal-europe.eu/the-smart-ageing-prize-awards-e50000-to-3-innovative-solutions-for-active-and-healthy-ageing/" %>
    </div>

    <div class="award">
      <p><strong>Finalist:</strong> Nesta Tech to Connect Prize 2019</p>
      <%= link_to "Read more", "https://techtoconnect.challenges.org/finalists/" %>
    </div>

    <%= link_to "Our story", our_story_path %>
    <%= link_to "Get in touch", join_path %>
  </div>

  <div class="pullquote">
    <blockquote>
      <p>People are saying they’re bored and there’s nothing to do – with this much on that’s mad isn’t it!</p>
      <cite>
        <strong>Catherine</strong>
        <span>Participant at a supported IT session for older residents</cite>
      </cite>
    </blockquote>
  </div>
</article>
