<article class="home">
  <div class="margin home__flow">
    <%= render(HomeStraplineComponent.new) %>
    <%= render(FullWidthActionComponent.new(title: "Find your PlaceCal", link_text: "See calendars", link_url: find_placecal_path, color: "red")) do %>
      Ready to get started with PlaceCal? Here you can see a list of all current PlaceCal instances, organised by interest and location.
    <% end %>
    <%= render(ContainerWithHeaderComponent.new(title: "Place-based calendars",  color: "green")) do %>
      <%= render(FourColGridComponent.new()) do %>
        <% @sites.each do |site| %>
          <%= render(NeighbourhoodHomeCardComponent.new(site: site)) %>
        <% end %>
      <% end %>
    <% end %>
    <%= render(CaseStudyComponent.new(partner: "transDim" )) %>
    <%= render(FullWidthActionComponent.new(title: "Want to create a PlaceCal for your community?", link_text: "Get in touch", link_url: get_in_touch_path, color: "green")) do %>
      Work with us to set up a PlaceCal for your community, built through on-the-ground connections with venues, organisers, and community members.
    <% end %>
    <%= render(FullWidthActionComponent.new(title: "How did PlaceCal start?", link_text: "Learn more", link_url: our_story_path, color: "cream")) do %>
      We wanted to examine the causes of social isolation and loneliness within communities in order to figure out how to combat them.
    <% end %>
    <%= render(PullQuoteComponent.new(source: "Catherine", context: "Participant at a supported IT session for older residents", options: {})) do %>
      People are saying they're bored and there's nothing to do - with this much on that's mad isn't it!
    <% end %>
  </div>
</article>
