<article class="home">
  <div class="margin home__flow">
    <%= render(Components::HomeStrapline.new) %>
    <%= render(Components::CaseStudy.new(
      partner: "The Trans Dimension",
      link_url: "/find-placecal",
      logo_src: "home/logos/tdd_logo.svg",
      image_alt: "trans dimension illustration",
      image_src: "home/case-studies/trans-dimension-illustration.png",
      partner_url: "https://transdimension.uk/",
      pull_quote: "We see and experience the barriers in place for trans, non-binary, and gender diverse people trying to meet, connect, and socialise and know that for disabled trans people the challenge is even harder.",
      description: [
        "The Trans Dimension is an online community hub connecting trans communities in London. It collates news, events and services by and for trans people, and is built using PlaceCal.",
        "The Trans Dimension is run by Geeks for Social Change in partnership with Gendered Intelligence with support from the Comic Relief Tech for Good programme. At this stage, the Trans Dimension is focussed on London-based events listings only, however we do plan to expand to cover more areas across the UK."
      ]
    )) %>
    <%= render(Components::ContainerWithHeader.new(title: "Place-based calendars",  color: "green")) do %>
      <%= render(Components::FourColGrid.new()) do %>
        <% @neighbourhoods.take(4).each do |site| %>
          <%= render(Components::NeighbourhoodHomeCard.new(site: site)) %>
        <% end %>
      <% end %>
    <% end %>
    <%= render(Components::FullWidthAction.new(title: "Find your PlaceCal", link_text: "See calendars", link_url: find_placecal_path, color: "red")) do %>
      Ready to get started with PlaceCal? Here you can see a list of all current PlaceCal instances, organised by interest and location.
    <% end %>
    <%= render(Components::FullWidthAction.new(title: "Want to create a PlaceCal for your community?", link_text: "Get in touch", link_url: get_in_touch_path, color: "green")) do %>
      Work with us to set up a PlaceCal for your community, built through on-the-ground connections with venues, organisers, and community members.
    <% end %>
    <%= render(Components::FullWidthAction.new(title: "How did PlaceCal start?", link_text: "Learn more", link_url: our_story_path, color: "cream")) do %>
      We wanted to examine the causes of social isolation and loneliness within communities in order to figure out how to combat them.
    <% end %>
  </div>
</article>
