<article class="home">
  <div class="margin">
    <div class="card card--split card--site-title center">
      <div class="card__title">
        <h1>The Community Calendar</h1>
      </div>
      <div class="card__body">
        <p>PlaceCal is a community directory and events calendar where you can find out everything that’s happening in your neighbourhood all in one place.</p>
        <%= link_to "Find a PlaceCal near you", find_placecal_path, class: 'btn btn--big btn--home-1' %>
      </div>
    </div>

    <div class="card card--alt center">
      <h2>We help communities thrive</h2>

      <div class="grid grid__thrive">
        <p class="border"><strong>Do you want to bring your neighbourhood together to create a stronger, more resilient community?</strong></p>

        <p class="border"><strong>Do you want to improve the health and wellbeing of all residents and to reduce social isolation and loneliness?</strong></p>

        <p class="border"><strong>Do you want to support each community group in  your area to easily publish high quality information about their activities online?</strong></p>
      </div>
      <%= link_to "Our story", our_story_path, class: 'btn btn--big btn--home-2' %>
      <%= link_to "Who is PlaceCal?", '#who', class: 'btn btn--big btn--home-2' %>
      <%# link_to "Features", find_path %>
    </div>


    <h2 class="fc-primary center">How we can help</h2>

    <%= render 'audiences' %>

    <div class="card card--alt center card--learn-how">
      <h2 class="fc-text">Learn how you can get PlaceCal</h2>
      <%= link_to "Get in touch today", join_path, class: 'btn btn--big btn--home-2' %>
    </div>


    <div class="card card--plainer card--who-is" id="who">
      <h2 class="center">Who is PlaceCal?</h2>

      <p class="alt-title-small center">We are a not-for-profit social enterprise established by Geeks for Social Change and Manchester School of Architecture.</p>

      <div class="grid__who_is">
        <p>PlaceCal was developed to combat social isolation and loneliness in our neighbourhood. We discovered that it would have amazing wellbeing and social benefits for every neighbourhood.</p>

        <p>The PlaceCal project was conceived as part of “Manchester Age Friendly Neighbourhoods”, an age friendly partnership project described as ‘world class’ by the World Health Organisation.</p>
      </div>

      <div class="award">
        <p><strong>Winner:</strong> AAL Smart Ageing Prize 2018</p>
        <%= link_to "Read more", "http://www.aal-europe.eu/the-smart-ageing-prize-awards-e50000-to-3-innovative-solutions-for-active-and-healthy-ageing/", class: 'btn btn--small btn--small-1' %>
      </div>

      <div class="award">
        <p><strong>Finalist:</strong> Nesta Tech to Connect Prize 2019</p>
        <%= link_to "Read more", "https://techtoconnect.challenges.org/finalists/", class: 'btn btn--small btn--small-1' %>
      </div>

      <p class="center">
        <br>
        <%= link_to "Our story", our_story_path, class: 'btn btn--large btn--home-3' %>
        <%= link_to "Get in touch", join_path, class: 'btn btn--large btn--home-3' %>
      </p>
    </div>

    <div class="pullquote">
      <blockquote>
        <p class="alt-title-small">People are saying they’re bored and there’s nothing to do – with this much on that’s mad isn’t it!</p>
      </blockquote>
      <cite>
        <strong class="h3-small">Catherine</strong>
        <span class="small">Participant at a supported IT session for older residents</cite>
      </cite>
    </div>
  </div>
</article>
