<article class="home">
  <div class="margin">
    <div class="card card--alt card--split center">
      <div class="card__title">
        <h1 class="section">Join us</h1>
        <p class="alt-title-small">Want PlaceCal for your community group, organisation or area?</p>
        <p>Get in touch and let’s discuss how you can<br class="tablet-up"> join our not-for-profit social enterprise.</p>
      </div>
      <div class="card__body">
        <%= form_with class: 'form' do %>
          <div class="form__person">
            <%= label_tag(:name, 'Name', class: 'hide') %>
            <%= text_field_tag(:name, nil, placeholder: 'Name') %>

            <%= label_tag(:email, 'Email address', class: 'hide') %>
            <%= email_field_tag(:email, nil, placeholder: 'Email address') %>

            <%= label_tag(:phone, 'Phone number', class: 'hide') %>
            <%= telephone_field_tag(:phone, nil, placeholder: 'Phone number') %>

            <%= label_tag(:job_title, 'Job title', class: 'hide') %>
            <%= text_field_tag(:job_title, nil, placeholder: 'Job title') %>

            <%= label_tag(:job_org, 'Organisation name', class: 'hide') %>
            <%= text_field_tag(:job_org, nil, placeholder: 'Organisation name') %>

            <%= label_tag(:area, 'Area you cover', class: 'hide') %>
            <%= text_field_tag(:area, nil, placeholder: 'Region you work in') %>
          </div>

          <div class="form__request">
            <p>I'd like:</p>

            <div class="form__checkbox">
              <%= label_tag(:ringback, 'A ring back') %>
              <%= check_box_tag(:ringback, true) %>
            </div>

            <div class="form__checkbox">
              <%= label_tag(:more_info, 'More information') %>
              <%= check_box_tag(:more_info, true) %>
            </div>

            <br>

            <%= label_tag(:why, 'Why I want PlaceCal:') %>
            <%= text_area_tag(:why, nil, placeholder: "Let us know a bit more about why you'd like to join PlaceCal.") %>

            <%= submit_tag "Submit", class: 'btn form__submit' %>
          </div>
        <% end %>
      </div>
      <p class="h2-phone regular-links">
        Call us on<br class="mobile-only">
        <%= link_to "+44 (0)161 247 6954", "tel:441612476954" %><br>
        or email<br class="mobile-only">
        <%= mail_to "kim@placecal.org" %>.
      </p>
      <br class="half">
    </div>
  </div>
</article>
