<article class="home margin">

  <!-- INTRODUCTION -->

  <div class="card center">
    <h1 class="section">Our story</h1>
    <p class="alt-title-small">We wanted to examine the causes of social isolation and loneliness within neighbourhoods in order to figure out how to combat them. </p>
  </div>

  <div class="card card--plain reveal our_story__intro js-reveal">
    <div class="reveal__teaser">
      <p>We spoke to over 6,000 people in Manchester and divested over £200,000 in funds directly to community groups.</p>
      <p>A key finding was that people who were isolated commonly thought <em>“There’s nothing to do in my neighbourhood!”</em>. In communities up and down the country, this has led to social isolation and loneliness for a number of citizens, and therefore a lack of community resilience.</p>
    </div>
    <div class="reveal__body">
      <p>This is a big issue in the UK in particular, where it is estimated that 2 million older people will be lonely and isolated by 2024. Studies show that social isolation and loneliness is as bad for your health as smoking two packets of cigarettes a week.</p>
      <p>Despite massive investments of time and money by big institutions such as city councils and health providers into event listings, asset maps and community directories, still no one could find out what was happening in their area.</p>
      <p>We continued to work with age friendly partnerships in Hulme and Moss Side (our pilot area, where we are based) to find out why.</p>
    </div>
    <button class="reveal__button">Open to read more</button>
  </div>

  <!-- PROBLEMS -->

  <h2 class="fc-primary center">We found three big problems</h2>

  <div class="card card--plain reveal reveal--clip-right js-reveal">
    <div class="reveal__teaser">
      <h3>People were not working together</h3>
      <%= image_tag "home/our_story/not_together.png" %>
      <p>Every large institution was working on their own community information websites, with different organisations gathering the same data.</p>
    </div>
    <div class="reveal__body">
      <p>This top-down approach of people in large institutions trying to gather information on small community groups was inefficient and missed out large swathes of activities and groups.</p>
      <p>It also resulted in duplication, or several low quality results rather than one really good one.</p>
    </div>
    <button class="reveal__button">Open to read more</button>
  </div>

  <div class="card card--plain reveal reveal--clip-left js-reveal">
    <div class="reveal__teaser">
      <h3>Current software wasn’t working</h3>
      <%= image_tag "home/our_story/current_software.png" %>
      <p>Existing community information websites were either maintained on behalf of the groups by institutional staff or required community groups to regularly log in to keep their events updated.</p>
    </div>
    <div class="reveal__body">
      <p>This meant that community groups had to input their information in one site for each provider, in addition to social media sites like Facebook, Twitter and Instagram, creating an ever-increasing amount of work for a very small amount of publicity.</p>
    </div>
    <button class="reveal__button">Open to read more</button>
  </div>

  <div class="card card--plain reveal reveal--clip-right js-reveal">
    <div class="reveal__teaser">
      <h3>Tech skills are very low</h3>
      <%= image_tag "home/our_story/no_tech_skills.png" %>
      <p>Digital exclusion has affected community groups disproportionately, particularly in deprived areas such as Manchester. Groups often don’t have the skills or tools needed to promote themselves effectively.
    </div>
    <div class="reveal__body">
      <p>Staff at many institutions have felt equally left behind by recent innovations.</p>
      <p>Most groups in our neighbourhood had never published anything online about their group at all, relying completely on word of mouth and thereby missing out on many opportunities to connect with new and enthusiastic participants.</p>
    </div>
    <button class="reveal__button">Open to read more</button>
  </div>

  <!-- SOLUTIONS -->

  <div class="card card--alt center our_story__fix">
    <h2>We needed to fix all of these together to have an impact.</h2>
    <p>This meant creating a package of software and training with shared ownership so that everyone could work together to build stronger communities:</p>
    <br>
    <%= image_tag 'home/our_story/logo_onpink.svg' %>
    <br>
    <br>
  </div>

  <div class="card card--plain reveal reveal--right js-reveal">
    <div class="reveal__teaser">
      <h3>Collective, not-for-profit ownership</h3>
      <%= image_tag "home/our_story/collective_ownership.png" %>
      <p>To be sustainable, everything must be owned and managed directly by institutions and community groups working together.</p>
    </div>
    <div class="reveal__body">
      <p>This supports the existing efforts being done in neighbourhoods by partnerships of councils, community organisers, and public health services.</p>
    </div>
    <button class="reveal__button">Open to read more</button>
  </div>

  <div class="card card--plain reveal reveal--left js-reveal">
    <div class="reveal__teaser">
      <h3>Software built on existing tools</h3>
      <%= image_tag "home/our_story/use_existing_tools.png" %>
      <p>Our software builds on top of tools that community groups are already using, such as Google Calendar, Outlook 365, and Facebook.</p>
    </div>
    <div class="reveal__body">
      <p>These listings are then converted into super simple, highly accessible and constantly updated listings for each neighbourhood, community group and venue.</p>
    </div>
    <button class="reveal__button">Open to read more</button>
  </div>

  <div class="card card--plain reveal reveal--right js-reveal">
    <div class="reveal__teaser">
      <h3>A training program that includes everyone</h3>
      <%= image_tag "home/our_story/training.png" %>
      <p>Our educational program for institutions and community groups alike walks everyone through the process of publishing and updating their information.</p>
    </div>
    <div class="reveal__body">
      <p>It operates on a ‘train-the-trainers’ basis, so key people in the community can pass on their knowledge to other groups and organisations.</p>
      <p>This means no one is left behind, helping to close the ‘digital divide’.</p>
    </div>
    <button class="reveal__button">Open to read more</button>
  </div>

  <!-- RESULTS -->
  <div class="card card--plain card--split">
    <div class="card__title center">
      <h2>The results from our pilot scheme</h2>
    </div>
    <div class="card__body">
      <table class="stats">
        <colgroup>
            <col class="stats__col--labels">
            <col class="stats__col--placecal">
            <col class="stats__col--council">
            <col class="stats__col--health">
        </colgroup>
        <thead>
          <tr>
            <td></td>
            <td>PlaceCal</td>
            <td>Local council</td>
            <td>Health service</td>
          </tr>
        </thead>
        <tbody>
          <tr class="stats__stripe">
            <td>Events per week</td>
            <td>240</td>
            <td>10</td>
            <td>0</td>
          </tr>
          <tr class="stats__stripe">
            <td>Accuracy of information</td>
            <td>98%</td>
            <td>50%</td>
            <td>65%</td>
          </tr>
          <tr>
            <td></td>
            <td>Staff changeover created some minor issues</td>
            <td>Included data from non local areas</td>
            <td>Content delivered as a pdf so is often out of date</td>
          </tr>
          <tr class="stats__stripe">
            <td>Services listed</td>
            <td>High</td>
            <td>Medium</td>
            <td>Low</td>
          </tr>
          <tr>
            <td></td>
            <td>Thorough descriptions, good contact information</td>
            <td>Unclear descriptions, good contact information</td>
            <td>No descriptions, partial contact information</td>
          </tr>
          <tr class="stats__stripe">
            <td>Accessibility & <acronym name="User Experience">UX</acronym></td>
            <td>
              <ul>
                <li>Responsive website</li>
                <li>Co-designed with older people</li>
                <li>Print outputs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>Menu unclear</li>
                <li>Hard to read &amp; access</li>
                <li>Very slow</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>No website</li>
                <li>Provided as PDF</li>
              </ul>
            </td>
          </tr>
          <tr class="stats__stripe">
            <td>Frequency of updates</td>
            <td>24/7</td>
            <td>???</td>
            <td>???</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="center"><strong>Note:</strong>Information is an approximation based on observations during our pilot in Hulme and Moss Side.</p>
    <br>
  </div>

  <!-- JOIN -->

  <div class="card card--alt center card--learn-how">
    <h2 class="fc-text">Learn how you can get PlaceCal</h2>
    <%= link_to "Get in touch today", join_path, class: 'btn btn--big btn--home-2' %>
  </div>
</article>

<%= render "reveal" %>
