<input type="radio"
       name="<%= name %>"
       class="tab"
       aria-label="<%= label %>"
       data-<%= controller_name %>-target="tab"
       data-hash="<%= hash %>"
       <%= 'checked="checked"' if checked %> />
<div class="tab-content bg-base-100 border-base-300 p-6"
     data-<%= controller_name %>-target="panel"
     data-section="<%= hash %>">
  <%= content %>
</div>
