<%- model_name = properties[:model].to_s.chop.humanize %>

<h1 class="page-header"><%= properties[:title] %></h1>

<%- if policy(model_name.constantize).create? %>
  <%= link_to "Add New #{model_name}", properties[:new_link], data: { turbolinks: false }, class: "btn btn-primary mb-3" %>
<% end %>

<% additional_links.each do |link| %>
  <%= sanitize link %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <% properties[:columns].each do |column| %>
        <th><%= column %></th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% properties[:data]&.each do |record| %>
      <tr>
        <% record.slice(properties[:columns]).each do |key, value| %>
          <td>
            <% if key == 'logo' && record.logo.url %>
              <%= image_tag record.logo.url, style: 'background-color: #5b4e46' %>
            <% else %>
              <%= value %>
            <% end %>
          </td>
        <% end %>
        <td><%= link_to "Edit", "/#{properties[:model]}/#{record.id}/edit",
                                data: { turbolinks: false },
                                class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
