<div class="footer_home margin">

  <div class="footer_home__top">
    <div class="footer_home__logo">
      <%= image_tag 'home/icons/logo.svg', class: "footer_home__logo" %>
    </div>

    <hr class="footer_home__hr">

    <div class="footer__content">
      <div class="footer_home__navs">
        <div class="footer_home__nav">
          <h5>Discover PlaceCal</h5>
          <nav role="navigation">
            <ul class="reset">
              <li><%= link_to "Introduction", root_path %></li>
              <li><%= link_to "Our story", our_story_path %></li>
              <li><%= link_to "Find your PlaceCal", find_placecal_path %></li>
              <li><%= link_to "Log in", new_user_session_path %></li>
            </ul>
          </nav>
        </div>

        <div class="footer_home__nav">
          <h5>How we help</h5>
          <nav role="navigation">
            <ul class="reset">
              <li><%= link_to "Community groups", root_path %></li>
              <li><%= link_to "Metropolitan areas", metropolitan_areas_path %></li>
              <li><%= link_to "VCSEs", vcses_path %></li>
              <li><%= link_to "Housing providers", housing_providers_path %></li>
              <li><%= link_to "Social prescribers & GPs", social_prescribers_path %></li>
              <li><%= link_to "Culture & tourism", culture_tourism_path %></li>
            </ul>
          </nav>
        </div>

        <div class="footer_home__nav">
          <h5>Contact us</h5>
          <ul class="reset">
            <li><%= mail_to "kim@placecal.org", "Email us" %></li>
            <li><%= link_to "Get PlaceCal", join_path %></li>
            <li><%= link_to "Twitter", 'https://twitter.com/PlaceCal' %></li>
            <li><%= link_to "Facebook", 'https://facebook.com/PlaceCal' %></li>
          </ul>
        </div>
      </div>

      <h5>Created by</h5>
      <ul class="reset footer_home__logos footer_home__logos--plus">
        <li>
          <%= link_to "https://gfsc.studio" do %>
            <%= image_tag "home/logos/gfsc.svg" %>
          <% end %>
        </li>
        <li>
            <%= image_tag "home/logos/phase.svg" %>
        </li>
      </ul>

      <h5>Sponsored by</h5>
      <ul class="reset footer_home__logos">
        <li>
            <%= image_tag "home/logos/cityverve.svg" %>
        </li>
        <li>
            <%= image_tag "home/logos/nesta.svg" %>
        </li>
        <li>
            <%= image_tag "home/logos/aal.svg" %>
        </li>
      </ul>
    </div>

  </div>

  <hr class="footer_home__hr-2">

  <div class="footer_home__impressum small">
    <p>&copy; 2019-2022 Place Health Technology CIC t/a PlaceCal.</p>

    <p>
      Registered in England and Wales.<br>
      5 Ribston Street, Manchester, M15 5RH.<br>
      Company No. 12135472<br>
      <%= link_to "Privacy policy", privacy_path %>
    </p>

    <p>
      <% build = ENV['GIT_REV'] ? ENV['GIT_REV'][0,7] : 'main' %>
      Build: <tt><%= link_to build, "https://github.com/geeksforsocialchange/PlaceCal/commit/#{build}" %></tt>
    </p>

    <% if Rails.env.development? %>
      <pre>
        <%# debug(params) %>
        <%# console %>
      </pre>
    <% end %>
  </div>
</div>
