<article class="home margin">
  <div class="card card--plainer">
    <h1 class="center fc-primary">Log in</h1>

    <div class="centre form--login">
      <%= form_for(resource, as: resource_name,
                            url: session_path(resource_name),
                            html: { class: 'form' },
                            data: { turbo: 'false' } ) do |f| %>
        <div class="form__field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="form__field">
          <%= f.label :password %>
          <div class="input__group" data-controller="password-toggle">
            <%= f.password_field :password, autocomplete: "off", data: { password_toggle_target: 'input'} %>
            <button type="button" data-password-toggle-target="button">
              <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/>
                <circle cx="12" cy="12" r="3"/>
                <path d="m2 2 20 20" data-password-toggle-target="hide"/>
              </svg>
            </button>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form__field--remember">
            <%= f.label :remember_me %>
            <%= f.check_box :remember_me, class: "round" %>
          </div>
        <% end -%>

        <div class="devise">
          <%= render "devise/shared/links" %>
        </div>

        <br>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn--big btn--home-3" %>
        </div>
      <% end %>


    </div>
    <br><br>
  </div>
</article>
