<%= simple_form_for @turf, url: (@turf.new_record? ? admin_turfs_path : admin_turf_path) do |f| %>
  <%= render_component "error", object: @turf %>

  <%= f.input :name, class: "form-control" %>

  <%= f.input :slug, class: "form-control" %>

  <%= f.input :turf_type, as: :radio_buttons, collection: options_for_turf_type, class: 'form-control' %>

  <%= f.input :description, class: "form-control" %>

  <% unless @turf.new_record? %>
    <h2>Partners</h2>
    <% unless @partners.empty? %>
      <ul>
        <% @partners.each do |partner| %>
          <li><%= partner.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No partners yet.</p>
    <% end %>
    <h2>Places</h2>
    <% unless @places.empty? %>
      <ul>
        <% @places.each do |place| %>
          <li><%= place.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No places yet.</p>
    <% end %>
  <% end %>

  <%= f.submit "Save", class: "btn btn-primary" %><br><br>
  <%# TODO: work out why this is failing %>
  <%# button_to "Destroy Turf", @turf, method: :delete, class: "btn btn-danger" %>
<% end %>
