<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <%= form_for @turf, html: { class: "form-horizontal" }, url: (@turf.new_record? ? admin_turfs_path : admin_turf_path) do |f| %>
    <%= render_component "error", object: @turf %>
      <div class="row">
        <div class="col-md-5">
          <label>Name</label>
         <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label>Slug</label>
         <%= f.text_field :slug, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5" style="margin-top: 20px; margin-bottom: 20px;">
          <label>Turf Type</label>
          <%= f.select :turf_type, options_for_turf_type, class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label>Description</label>
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>
      <% unless @turf.new_record? %>
        <label style="margin-top: 20px;">Partners</label>
        <% unless @partners.empty? %>
          <ul>
            <% @partners.each do |partner| %>
              <li><%= partner.name %></li>
            <% end %>
          </ul>
        <% else %>
          <h5>No partners yet</h5>
        <% end %>
        <label>Places</label>
        <% unless @places.empty? %>
          <ul>
            <% @places.each do |place| %>
              <li><%= place.name %></li>
            <% end %>
          </ul>
        <% else %>
          <h5>No places yet</h5>
        <% end %>
      <% end %>
      <div class= "row" style="margin-top: 80px; margin-bottom: 50px;">
        <div class="col-md-10"></div>
        <div class= "col-md-2">
          <%= f.submit "Save", class: "btn btn-primary " %><br><br>
          <%= button_to "Destroy Turf", @turf, method: :delete, class: "btn btn-danger" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
