<div class="row">
  <div class="col-md-10">
    <h2>Turfs List</h2>
  </div>
  <div class="col-md-2">
    <% if current_user&.role&.root? %>
      <%= link_to "Add New Turf", new_admin_turf_path, data: { turbolinks: false }, class: "btn btn-primary " %>
      <% end %>
  </div>
</div>
<% if @turfs.blank? %>
  <h3>You have no turfs assigned.</h3>
<% else %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Slug</th>
      <th>Description</th>
      <% if current_user&.role&.root? %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @turfs.each do |turf| %>
      <tr>
        <td><%= turf.id %></td>
        <td><%= turf.name %></td>
        <td><%= turf.slug %></td>
        <td><%= turf.description %></td>
        <% if current_user&.role&.root? %>
          <td><%= link_to "Edit", edit_admin_turf_path(turf),  data: { turbolinks: false }, class: "btn btn-primary " %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  </table>
<% end %>
