<div id="js-map" class="map <%= styles %>"></div>

<script>  
  // Init the map and give it a sensible starting location
  var map = L.map('js-map');
  map.setView(<%= center %>, <%= zoom %>);
  map.scrollWheelZoom.disable();

  // Iterate all the markers
  var markerArray = []
  <% markers.each do |m| %>
    marker = L.marker(<%= [m[:lat], m[:lon]] %>).addTo(map);
    marker.bindPopup("<a href='/places/<%= m[:id] %>'><%= m[:name] %></a>", { permanent: true, closeButton: false });
    markerArray.push(marker);
  <% end %>

  // Create a group for all markers and add to map
  var markerGroup = L.featureGroup(markerArray)
  map.fitBounds(markerGroup.getBounds(), {maxZoom: <%= zoom %>});

  // Add the basemap
  L.tileLayer('https://api.mapbox.com/styles/v1/studiosquid/cj9o6fykz441q2rqyqzkaal37/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic3R1ZGlvc3F1aWQiLCJhIjoiY2o5bzZmNzhvMWI2dTJ3bnQ1aHFnd3loYSJ9.NC3T07dEr_Aw7wo1O8aF-g', {
            attribution: 'PlaceCal',
            maxZoom: 18,
  }).addTo(map);
</script>