<div id="js-map" class="map<%= " map--high" if markers.length > 1 %>"></div>

<script>  
  // Init the map and give it a sensible starting location
  var map = L.map('js-map');
  map.setView(<%= center %>, <%= zoom %>);
  map.scrollWheelZoom.disable();

  // Iterate all the markers
  var markerArray = []
  <% markers.each do |m| %>
    marker = L.marker(<%= [m[:lat], m[:lon]] %>).addTo(map);
    marker.bindTooltip("<%= m[:name] %>", { permanent: true }).openTooltip();
    markerArray.push(marker);
  <% end %>

  // Create a group for all markers and add to map
  var markerGroup = L.featureGroup(markerArray)
  map.fitBounds(markerGroup.getBounds());

  // Add the basemap
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: 'PlaceCal',
            maxZoom: 18,
  }).addTo(map);
</script>