<article class="home margin">
  <div class="card card--plainer">
    <h1 class="center fc-primary"><%= t "devise.invitations.edit.header" %></h1>

    <div class="centre form--login">
      <%= form_for(resource,  as: resource_name, 
                              url: invitation_path(resource_name), 
                              html: { method: :put, class: 'form' }) do |f| %>

        <%= f.hidden_field :invitation_token %>

        <div class="form__field">
          <%= f.label :password, "New password" %>
          <%= f.password_field :password %>
           <%= f.label :password, "Repeat password" %>
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="form__field">
          <%= f.submit "Set password", class: "btn btn--big btn--home-3" %>
        </div>
      <% end %>
    </div>
  </div>
</article>