<div class="profile">
  <div class="profile__title">
    <h3 class="h2--alt udl">Your local contact</h3>
  </div>
  <div class="profile__avatar">
    <% if user.avatar %>
      <%= image_tag user.avatar.retina %>
    <% end %>
  </div>
  <div class="profile__details">
    <p><strong><%= name %></strong></p>
    <p>
      <% if phone %>
        Call on <strong><%= phone %></strong><br>
        Or send an email to <strong><%= mail_to email %></strong>
      <% else %>
        Email <strong><%= mail_to email %></strong>
      <% end %>
    </p>
  </div>
</div>
