<p><b>Name:</b>: <%= @join.name %></p>
<p><b>Email:</b>: <%= @join.email %></p>
<p><b>Phone number:</b>: <%= @join.phone %></p>
<p><b>Job Title:</b>: <%= @join.job_title %></p>
<p><b>Organization Name:</b>: <%= @join.job_org %></p>
<p><b>Area you cover:</b>: <%= @join.area %></p>
<p><b>A Ring Back:</b>: <%= @join.ringback == '1' ? 'Yes' : 'No' %></p>
<p><b>More Information:</b>: <%= @join.more_info == '1' ? 'Yes' : 'No' %></p>
<p><b>Why I Want Placecal:</b>: <%= @join.why %></p>
