<p class="contact_details">
  <% if phone.present? %>
    <strong class="icon icon--contact icon--phone">Phone:</strong>
    <span>
      <%- if is_valid_phone %>
        <%= link_to phone, "tel:#{phone}", target: '_blank' %>
      <% else %>
        <%= phone %>
      <% end %>
    </span>
  <% end %>
  <% if email.present? %>
    <strong class="icon icon--contact icon--email">Email:</strong> 
    <span><%= mail_to email, email, target: '_blank' %></span>
  <% end %>
  <% if url.present? %>
    <strong class="icon icon--contact icon--website"> Website:</strong> 
    <span><%= link_to strip_url(url), url, target: '_blank' %></span>
  <% end %>
  <% if facebook_link.present? %>
    <strong class="icon icon--contact icon--facebook">Facebook:</strong> 
    <span><%= link_to facebook_link, facebook_url, target: '_blank' %></span>
  <% end %>
  <% if twitter_handle.present? %>
    <strong class="icon icon--contact icon--twitter">Twitter:</strong> 
    <span><%= link_to "@#{twitter_handle}", twitter_url, target: '_blank' %></span>
  <% end %>
  <% unless contact? %>
    No contact information - let us know!
  <% end %>
</p>
