<div class="row">
  <div class="col-md-6">
    <%= f.input :first_name %>
  </div>
  <div class="col-md-6">
    <%= f.input :last_name %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :email %>
  </div>
  <div class="col-md-6">
    <%= f.input :phone %>
  </div>
</div>

<%= f.input :avatar %>

<%= image_tag f.object.avatar.retina.url if f.object.avatar.retina.url %>
