<%= render_component "error", object: current_user %>

<div class="form-group">
  <%= render "contact", f: f %>

  <%# f.association :tags, label: false, collection: @tags, as: :check_boxes %>
  <%= f.association :partners, label: "Partners", collection: options_for_partners, input_html: {class: 'form-control select2' } %>
  <%= f.association :neighbourhoods, label: "Neighbourhoods", collection: options_for_neighbourhoods, input_html: {class: 'form-control select2' } %>

  <%= f.input :role, collection: @roles, class: 'form-control', include_blank: false %>

  <% if current_user.root? %>
    <%= f.input :facebook_app_id, as: :string %>
    <%= f.input :facebook_app_secret, as: :string %>
  <% end %>
</div>
