<%= render_component "error", object: current_user %>

<div class="form-group">
  <%= render "contact", f: f %>

  <%= f.association :partners,
                    label: tooltip_label('Partners', 'Partners this user can edit, as well as their associated calendars'),
                    collection: options_for_partners,
                    selected: (@partner.id if @partner),
                    input_html: {class: 'form-control select2' } %>

  <%= f.association :neighbourhoods,
                    label: tooltip_label('Neighbourhoods', 'Grants access to every partner and calendar in these neighbourhoods. Use with care!'),
                    collection: options_for_neighbourhoods,
                    input_html: {class: 'form-control select2' } %>

  <%= f.association :tags,
                    label: tooltip_label('Allowed Tags', 'Grants access to apply the given tags'),
                    collection: options_for_tags,
                    input_html: {class: 'form-control select2' } %>

  <%= f.input :role, collection: @roles, class: 'form-control', include_blank: false %>

  <% if current_user.root? %>
    <%= f.input :facebook_app_id, as: :string %>
    <%= f.input :facebook_app_secret, as: :string %>
  <% end %>
</div>
