<%= render(Admin::ErrorComponent.new(f.object)) %>

<%# Radio Tabs - daisyUI tabs-lift %>
<div role="tablist" class="tabs tabs-lift">
  <%= render Admin::TabPanelComponent.new(
    name: 'user_tabs',
    label: 'ðŸ‘¤ Personal Details',
    hash: 'personal',
    controller_name: 'user-tabs',
    checked: true
  ) do %>
    <%= render 'form_tab_personal', f: f %>
  <% end %>

  <%= render Admin::TabPanelComponent.new(
    name: 'user_tabs',
    label: 'ðŸ”‘ Permissions',
    hash: 'permissions',
    controller_name: 'user-tabs'
  ) do %>
    <%= render 'form_tab_roles', f: f %>
  <% end %>

  <% if policy(@user).permitted_attributes_for_update.include?(:role) || policy(@user).destroy? %>
    <%# Spacer to push Admin tab right %>
    <div class="tab flex-1 cursor-default"></div>

    <%= render Admin::TabPanelComponent.new(
      name: 'user_tabs',
      label: 'ðŸ” Admin',
      hash: 'admin',
      controller_name: 'user-tabs'
    ) do %>
      <%= render 'form_tab_admin', f: f %>
    <% end %>
  <% end %>
</div>
