<%# Personal Details Tab - Name, Email, Phone, Avatar %>
<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
  <%# Form fields - Left column %>
  <div class="lg:col-span-2 space-y-4">
    <div class="grid grid-cols-2 gap-4">
      <fieldset class="fieldset">
        <%= f.label :first_name, attr_label(:user, :first_name), class: 'fieldset-legend' %>
        <%= f.input_field :first_name, class: 'input input-bordered w-full' %>
      </fieldset>

      <fieldset class="fieldset">
        <%= f.label :last_name, attr_label(:user, :last_name), class: 'fieldset-legend' %>
        <%= f.input_field :last_name, class: 'input input-bordered w-full' %>
      </fieldset>
    </div>

    <fieldset class="fieldset">
      <%= f.label :email, class: 'fieldset-legend' do %>
        <%= attr_label(:user, :email) %> <span class="text-error"><%= t('admin.labels.required') %></span>
      <% end %>
      <%= f.input_field :email, class: 'input input-bordered w-full' %>
    </fieldset>

    <fieldset class="fieldset">
      <%= f.label :phone, attr_label(:user, :phone), class: 'fieldset-legend' %>
      <%= f.input_field :phone, class: 'input input-bordered w-full' %>
    </fieldset>
  </div>

  <%# Avatar - Right column %>
  <%= render Admin::ImageUploadComponent.new(
    form: f,
    attribute: :avatar,
    rounded: 'rounded-xl'
  ) %>
</div>
