<%= render_component "error", object: current_user %>

<div class="form-group">
  <%= render "contact", f: f %>

  <br>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <h3>Partners</h3>
      <p>Partners this user can edit, as well as their associated calendars</p>
      <%= f.association :partners,
                        label: false,
                        collection: options_for_partners,
                        selected: @partners,
                        input_html: {class: 'form-control select2' }
          %>
    </div>

    <div class="col-md-6">
      <h3>Neighbourhoods</h3>
      <p>This user has <%= pluralize @user.neighbourhoods.count, 'neighbourhood' %>.</p>

      <% if current_user.root? %>
        <p>Grants access to every partner and calendar in these neighbourhoods. Use with care!</p>

        <%= f.association :neighbourhoods,
          label: false,
          collection: options_for_neighbourhoods,
          input_html: {class: 'form-control select2' } %>

      <% else %>
        <ul class='neighbourhood-list'>
          <% @user.neighbourhoods.order(:name).each do |hood| -%>
            <li><%= link_to hood.name, admin_neighbourhood_path(hood) %></li>
          <% end -%>
        </ul>
      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Allowed Tags</h3>
      <p>Grants access to apply the given tags</p>
      <%= f.association :tags,
                        label: false,
                        collection: options_for_tags,
                        input_html: {class: 'form-control select2' } %>
    </div>
    <div class="col-md-6">
      <h3>Role</h3>
      <%= f.input :role,
                  as: :radio_buttons,
                  label_method: ->(val){ role_label(val) } %>
    </div>
  </div>

  <br>
  <hr>

  <% if current_user.root? %>
    <%= f.input :facebook_app_id, as: :string %>
    <%= f.input :facebook_app_secret, as: :string %>
  <% end %>
</div>
