<%# Personal Details Tab - Name, Email, Phone, Avatar %>
<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
  <%# Form fields - Left column %>
  <div class="lg:col-span-2 space-y-4">
    <div class="grid grid-cols-2 gap-4">
      <div class="fieldset">
        <label for="user_first_name" class="fieldset-legend"><%= attr_label(:user, :first_name) %></label>
        <%= f.input_field :first_name, class: 'input input-bordered w-full', id: 'user_first_name' %>
      </div>

      <div class="fieldset">
        <label for="user_last_name" class="fieldset-legend"><%= attr_label(:user, :last_name) %></label>
        <%= f.input_field :last_name, class: 'input input-bordered w-full', id: 'user_last_name' %>
      </div>
    </div>

    <div class="fieldset">
      <label for="user_email" class="fieldset-legend"><%= attr_label(:user, :email) %></label>
      <%= f.input_field :email, class: 'input input-bordered w-full', disabled: true, id: 'user_email' %>
      <p class="fieldset-label"><%= t('admin.users.profile.email_change_hint') %></p>
    </div>

    <div class="fieldset">
      <label for="user_phone" class="fieldset-legend"><%= attr_label(:user, :phone) %></label>
      <%= f.input_field :phone, class: 'input input-bordered w-full', id: 'user_phone' %>
    </div>
  </div>

  <%# Avatar - Right column %>
  <%= render Admin::ImageUploadComponent.new(
    form: f,
    attribute: :avatar,
    rounded: 'rounded-xl'
  ) %>
</div>
