<% content_for :title do %>Edit User: <%= @user.full_name.presence || @user.email %><% end %>

<div class="flex items-center justify-between mb-6">
  <div>
    <h1 class="text-2xl font-semibold">Edit User</h1>
    <p class="text-base-content/60 mt-1"><%= @user.full_name.presence || @user.email %></p>
  </div>
  <div class="text-sm text-base-content/50">ID: <%= @user.id %></div>
</div>

<%- disabled_fields = policy(@user).disabled_attributes_for_update %>
<%- displayable_fields = policy(@user).permitted_attributes_for_update %>

<%= filtered_form_for(@user,
                     method: :put,
                     url: admin_user_path(@user),
                     disabled: disabled_fields,
                     display_only: displayable_fields,
                     html: { data: { controller: 'user-tabs live-validation' } }) do |f| %>
  <%= render 'form', f: f %>

  <%= render Admin::SaveBarComponent.new(
    multi_step: true,
    tab_name: 'user_tabs',
    storage_key: 'userTabAfterSave'
  ) %>
<% end %>
