<h1 class="page-header">Edit User: <%= @user.full_name %></h1>

<%- disabled_fields = policy(@user).disabled_attributes_for_update %>
<%- displayable_fields = policy(@user).permitted_attributes_for_update %>

<%=  filtered_form_for(@user,
                       method: :put,
                       url: admin_user_path(@user),
                       disabled: disabled_fields,
                       display_only: displayable_fields) do |f| %>
  <%= render 'form', f: f %>
  <%= f.submit "Update", class: "btn btn-primary " %>
  <% if policy(@user).destroy? -%>
    <%= link_to "Delete user", 
      admin_user_path(@user), 
      method: :delete, 
      class: "btn btn-danger", 
      data: { confirm: "Please confirm you want to delete this user.\n\nThis is permanent!" } %>
  <% end -%>
<% end %>
