<% content_for :title do %>New User<% end %>

<div class="mb-6">
  <h1 class="text-2xl font-bold">New User</h1>
  <p class="text-sm text-base-content/60 mt-1">Invite a new user to PlaceCal.</p>
</div>

<%- display_fields = policy(@current_user).permitted_attributes_for_create %>

<%= filtered_form_for([:admin, @user],
                      display_only: display_fields,
                      html: { data: { controller: 'live-validation' } }) do |f| %>
  <%= render 'form', f: f %>

  <div role="alert" class="alert mt-6 max-w-2xl">
    <%= icon(:info, size: '6', css_class: 'stroke-info shrink-0') %>
    <span>Inviting a user will require their acceptance of the PlaceCal <%= link_to 'Terms of Use', terms_of_use_path, class: 'link link-hover text-placecal-orange' %>.</span>
  </div>

  <%= render Admin::SaveBarComponent.new do |c| %>
    <% c.with_button do %>
      <%= f.submit t('admin.users.actions.invite'), class: "btn bg-placecal-orange hover:bg-orange-600 text-white border-placecal-orange" %>
    <% end %>
  <% end %>
<% end %>
