<h1 class="page-header">Edit Profile</h1>

<%- if params[:missing_keys] %>
  <div class='alert alert-warning' role='alert'>
    Please set your Facebook App ID and App Secret before adding a calendar through facebook.
  </div>
<% end %>

<%= simple_form_for [:admin, current_user], html: { class: "form-horizontal" } do |f| %>
  <div class="row">

    <%= render_component "error", object: current_user %>
    <div class="col-md-6">
      <%= render "contact", f: f %>

      <%= f.input :facebook_app_id, as: :string %>
      <%= f.input :facebook_app_secret, as: :string %>
    </div>

    <div class="col-md-6">
      <%= f.input :password, autocomplete: "off", hint: "Leave blank if you don't want to change your password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      <%= f.input :password_confirmation, autocomplete: "off", hint: "Leave blank if you don't want to change your password" %>

      <%= f.input :current_password, autocomplete: "off", hint: 'Enter your current password if you want to change it' %>
      <br>
    </div>
  </div>
  <br><br>
  <%= f.submit "Update", class: "btn btn-primary " %>
<% end %>
