<article class="home">
  <div class="margin">
    <div class="card card--alt card--split center">
      <div class="card__title">
        <h1 class="section">Get in touch</h1>
        <p class="alt-title-small">Want to run PlaceCal in your community, group, or area?</p>
        <p>Contact us to discuss how you can<br class="tablet-up"> join our not-for-profit social enterprise.</p>
      </div>

      <div class="card__body">

        <% if flash.any? %>
          <div class="flashes">
            <% flash.each do |key, value| -%>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end -%>
          </div>
        <% end %>

        <%# FIXME: this is for testing icons and should be deleted %>
        <h3>Form Icons</h3>
        <div style="display: grid; grid-template-columns: repeat(6, auto); gap: 1em; width: fit-content; ">
          <img src='/assets/icons/forms/unticked.svg' style="width: 1.25rem; height: 1.25rem"/>
          <img src='/assets/icons/forms/ticked.svg' style="width: 1.25rem; height: 1.25rem"/>
          <img src='/assets/icons/forms/cross.svg' style="width: 1.25rem; height: 1.25rem"/>
          <img src='/assets/icons/forms/unselected.svg' style="width: 1.25rem; height: 1.25rem"/>
          <img src='/assets/icons/forms/selected.svg' style="width: 1.25rem; height: 1.25rem"/>
          <img src='/assets/icons/forms/tick.svg' style="width: 1.25rem; height: 1.25rem"/>

          <%= icon(:checkbox) %>
          <%= icon(:checkbox_check) %>
          <%= icon(:cross) %>
          <%= icon(:radio) %>
          <%= icon(:radio_check) %>
          <%= icon(:tick) %>
        </div>

        <h3>Arrow Icons</h3>
        <div style="display: grid; grid-template-columns: repeat(6, auto); gap: 1em; width: fit-content; ">
          <%= icon(:chevron_up) %>
          <%= icon(:chevron_down) %>
          <%= icon(:chevron_left) %>
          <%= icon(:chevron_right) %>
          <%= icon(:arrow_up) %>
          <%= icon(:arrow_down) %>

          <i></i>
          <img src='/assets/icons/arrow/down.svg' style="width: 1.25rem; height: 1.25rem"/>
          <img src='/assets/icons/arrow/left.svg' style="width: 1.25rem; height: 1.25rem"/>
          <img src='/assets/icons/arrow/right.svg' style="width: 1.25rem; height: 1.25rem"/>
          <img src='/assets/icons/arrow/left-grey.svg' style="width: 1.25rem; height: 1.25rem"/>
          <img src='/assets/icons/arrow/right-grey.svg' style="width: 1.25rem; height: 1.25rem"/>

          <%= icon(:triangle_up, css_class: 'text-base-primary') %>
          <%= icon(:triangle_down, css_class: 'text-base-primary') %>
          <%= icon(:triangle_left, css_class: 'text-base-primary') %>
          <%= icon(:triangle_right, css_class: 'text-base-primary') %>
          <%= icon(:triangle_left, css_class: 'text-base-background') %>
          <%= icon(:triangle_right, css_class: 'text-base-background') %>
        </div>

        <h3>Event Icons</h3>
        <div style="display: grid; grid-template-columns: repeat(6, auto); gap: 1em; width: fit-content; ">
          <img src='/assets/icons/event/date.svg' style="width: 1.25rem; height: 1.25rem"/>
          <img src='/assets/icons/event/duration.svg' style="width: 1.25rem; height: 1.25rem"/>
          <img src='/assets/icons/event/place.svg' style="width: 1.25rem; height: 1.25rem"/>
          <img src='/assets/icons/event/repeats.svg' style="width: 1.25rem; height: 1.25rem"/>
          <img src='/assets/icons/event/time.svg' style="width: 1.25rem; height: 1.25rem"/>
          <img src='/assets/icons/event/time-grey.svg' style="width: 1.25rem; height: 1.25rem"/>

          <%= icon(:event_date, css_class: 'text-base-secondary') %>
          <%= icon(:event_duration, css_class: 'text-base-secondary') %>
          <%= icon(:event_place, css_class: 'text-base-secondary') %>
          <%= icon(:event_repeats, css_class: 'text-base-secondary') %>
          <%= icon(:event_time, css_class: 'text-base-secondary') %>
          <%= icon(:event_time) %>
        </div>

        <%= simple_form_for @join, url: get_in_touch_path, html: { class: 'form' } do |f| %>
          <%= invisible_captcha %>
          <div class="form__person form__mid-width">
            <div class="form__field">
              <%= f.input :name, label: 'Name:' %>
            </div>
            <div class="form__field">
              <%= f.input :email, as: :email, label: 'Email address:' %>
            </div>
            <div class="form__field">
              <%= f.input :job_title, label: 'Job title:' %>
            </div>
            <div class="form__field">
              <%= f.input :phone, as: :tel, label: 'Phone number:' %>
            </div>
            <div class="form__field">
              <%= f.input :job_org, label: 'Organisation name:' %>
            </div>
            <div class="form__field">
              <%= f.input :area, label: 'The area it covers is:' %>
            </div>
          </div>

          <div class="form__contact form__small-width">
            <div class="form__contact-child">
              <p><strong>I'd like:</strong></p>
            </div>
            <div class="form__contact-child">
              <div class="form__checkbox">
                <%= f.check_box :ringback %>
                <label for="join_ringback">
                  A ring back
                  <%= icon(:checkbox, size: '0') %>
                  <%= icon(:checkbox_check, size: '0', css_class: 'checked') %>
                </label>
              </div>
              <div class="form__checkbox">
                <%= f.check_box :more_info %>
                <label for="join_more_info">
                  More information
                  <%= icon(:radio, size: '0') %>
                  <%= icon(:radio_check, size: '0', css_class: 'checked') %>
                </label>
              </div>
            </div>
          </div>

          <div class="form__info form__full-width">
            <%= f.input :why, as: :text, label:  'Why I want PlaceCal:', placeholder: "Enter information about why you'd like to join PlaceCal here" %>
          </div>

          <%= f.submit "Submit", class: 'btn form__submit' %>

        <% end %>
      </div>
      <p class="regular-links">
        Email us at <br class="mobile-only"><%= mail_to "info@placecal.org" %>
      </p>
      <br class="half">
    </div>
  </div>
</article>
