<article class="home">
  <div class="margin">
    <div class="card card--alt card--split center">
      <div class="card__title">
        <h1 class="section">Join us</h1>
        <p class="alt-title-small">Want PlaceCal for your community group, organisation or area?</p>
        <p>Get in touch and let’s discuss how you can<br class="tablet-up"> join our not-for-profit social enterprise.</p>
      </div>

      <div class="card__body">

        <% if flash.any? %>
          <div class="flashes">
            <% flash.each do |key, value| -%>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end -%>
          </div>
        <% end %>

        <%= simple_form_for @join, url: join_path, html: { class: 'form' } do |f| %>
          <div class="form__person">
            <div class="form__field">
              <%= f.input :name, label: 'Name' %>
            </div>
            <div class="form__field">
              <%= f.input :email, as: :email, label: 'Email address' %>
            </div>
            <div class="form__field">
              <%= f.input :phone, as: :tel, label: 'Phone number' %>
            </div>
            <div class="form__field">
              <%= f.input :job_title, label: 'Job title' %>
            </div>
            <div class="form__field">
              <%= f.input :job_org, label: 'Organisation name' %>
            </div>
            <div class="form__field">
              <%= f.input :area, label: 'Area you cover' %>
            </div>
          </div>

          <div class="form__request">
            <p><strong>I'd like:</strong></p>

            <div class="form__checkbox">
              <%= f.check_box :ringback %>
              <%= f.label :ringback, 'A ring back' %>
            </div>

            <div class="form__checkbox">
              <%= f.check_box :more_info %>
              <%= f.label :more_info, 'More information' %>
            </div>

            <br>
            <%= f.input :why, as: :text, label:  'Why I want PlaceCal:', placeholder: "Let us know a bit more about why you'd like to join PlaceCal." %>

            <%= f.submit "Submit", class: 'btn form__submit' %>
          </div>
        <% end %>
      </div>
      <p class="regular-links">
        Call us on<br class="mobile-only">
        <%= link_to "+44 (0)161 247 6954", "tel:441612476954" %><br>
        or email<br class="mobile-only">
        <%= mail_to "info@placecal.org" %>.
      </p>
      <br class="half">
    </div>
  </div>
</article>
