<article class="home">
  <div class="margin">
    <div class="card card--alt card--split center">
      <div class="card__title">
        <h1 class="section">Get in touch</h1>
        <p class="alt-title-small">Want to run PlaceCal in your community, group, or area?</p>
        <p>Contact us to discuss how you can<br class="tablet-up"> join our not-for-profit social enterprise.</p>
      </div>

      <div class="card__body">

        <% if flash.any? %>
          <div class="flashes">
            <% flash.each do |key, value| -%>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end -%>
          </div>
        <% end %>

        <%= simple_form_for @join, url: get_in_touch_path, html: { class: 'form' } do |f| %>
          <div class="form__person form__mid-width">
            <div class="form__field">
              <%= f.input :name, label: 'Name:' %>
            </div>
            <div class="form__field">
              <%= f.input :email, as: :email, label: 'Email address:' %>
            </div>
            <div class="form__field">
              <%= f.input :job_title, label: 'Job title:' %>
            </div>
            <div class="form__field">
              <%= f.input :phone, as: :tel, label: 'Phone number:' %>
            </div>
            <div class="form__field">
              <%= f.input :job_org, label: 'Organisation name:' %>
            </div>
            <div class="form__field">
              <%= f.input :area, label: 'The area it covers is:' %>
            </div>
          </div>

          <div class="form__contact form__small-width">
            <div class="form__contact-child">
              <p><strong>I'd like:</strong></p>
            </div>
            <div class="form__contact-child">
              <div class="form__checkbox">
                <%= f.check_box :ringback %>
                <%= f.label :ringback, 'A ring back' %>
              </div>
              <div class="form__checkbox">
                <%= f.check_box :more_info %>
                <%= f.label :more_info, 'More information' %>
              </div>
            </div>
          </div>

          <div class="form__info form__full-width">
            <%= f.input :why, as: :text, label:  'Why I want PlaceCal:', placeholder: "Enter information about why you'd like to join PlaceCal here" %>
          </div>

          <%= f.submit "Submit", class: 'btn form__submit' %>

        <% end %>
      </div>
      <p class="regular-links">
        Email us at <br class="mobile-only"><%= mail_to "info@placecal.org" %>
      </p>
      <br class="half">
    </div>
  </div>
</article>
