<% content_for :image, @site.og_image %>
<% content_for :description, @site.og_description %>

<%= render(
  HeroSectionComponent.new(
    image_path: @site.hero_image,
    image_credit: @site.hero_image_credit,
    title: @site.hero_text,
    alttext: @site.hero_alttext
    )
  )
%>

<section class="region region__mission">
  <div class="c c--narrow">
    <p>We're working with <%= link_to 'local organisations', partners_path %> to create a great calendar of everything that's on in <%= @site.place_name %>.</p>
    <%= link_to "See what's on", events_path, class: "btn btn--lg btn--alt btn--mt" %>
  </div>
</section>

<section class="region region__management">
  <div class="title-strip">
    <h2 class="h2--alt">About Us</h2>
  </div>
  <div class="c c--narrow first-ele-h3-serif">
    <%= @site.description_html.to_s.html_safe %>
    <% if @site.site_admin.present? %>
      <%= render_component 'profile', user: @site.site_admin %>
    <% end %>
  </div>
</section>

<section class="region region__support">
  <!-- <div class="title-strip">
    <h2 class="h2--alt">Advice and support</h2>
  </div> -->
  <div class="c">
    <div class="gr gr--3">
      <div>
        <%= render_component 'help_adding_events' %>
      </div>
      <% if @places_to_get_computer_access.present? -%>
      <div>
        <%= render_component 'computer_access', places: @places_to_get_computer_access %>
      </div>
      <% end -%>
      <% if @places_with_free_wifi.present? -%>
      <div>
        <%= render_component 'free_public_wifi', places: @places_with_free_wifi %>
      </div>
      <% end -%>
      <div>
        <%= render_component 'help_getting_help' %>
      </div>
    </div>
  </div>
</section>
