<% content_for :title, "Hulme" %>

<%= render_component 'hero_photo',
      image_path: 'http://placekitten.com/g/1000/500',
      image_credit: 'John Smith'
%>

<section class="region__mission">
  <div class="c">
    <h2>PlaceCal is working to make <%= @site.name %> a better connected neighbourhood.</h2>
    <p>We're working with <%= link_to 'local organisations', partners_path %> and <%= link_to 'places', places_path %> to create a great calendar of everything that's on in <%= @site.name %>.</p>
    <%= link_to "See what's on", events_path, class: "btn btn--lg btn--mt" %>
  </div>
</section>

<section class="region__management">
  <div class="title-strip">
    <h2 class="h2--alt">About Us</h2>
  </div>
  <div class="c">
    <%= markdown @site.description %>
    <div class="">
      <h3>Your local contact</h3>
      <p><%= @site.site_admin.full_name %></p>
      <p>
        Call on: <%= @site.site_admin.phone %><br>
        Or send an email to: <%= mail_to @site.site_admin.email %>
      </p>
    </div>
  </div>
</section>

<section class="region__support">
  <div class="title-strip">
    <h2 class="h2--alt">Advice and support</h2>
  </div>
  <div class="c">
    <div>
      <h3>Adding your events</h3>
      <p>Want to join the PlaceCal network? Something we should know about?</p>
      <a href="">Get in touch</a>
    </div>
    <div>
      <h3>Getting online</h3>
      <p>Computers access is available in the following places:</p>
      <ul>
        <li><a href="">Hulme Library</a></li>
        <li><a href="">New Hope Fellowship Church</a></li>
        <li><a href="">MMU Birley Campus</a></li>
      </ul>
    </div>
    <div>
      <h3>How to get help</h3>
      <p>Supported computer sessions are available from the following groups:</p>
      <ul>
        <li><a href="">Coffee &amp; Computers</a></li>
        <li><a href="">People First Wellbeing</a></li>
        <li><a href="">Will Griffiths Court</a></li>
      </ul>
    </div>
  </div>
</section>
