<% content_for :title, @site.name %>
<% content_for :image, image_url('regions/mossley/og.png') %>

<section>
  <div class="hero_image hero_image--mossley">
  </div>
</section>

<section class="region region__title--mossley">
  <div class="c c--narrowish">
    <h1>Marvellous Mossley celebrates our town and lets people know about all the community activity happening here.</h1>
  </div>
</section>

<section class="region region__mission">
  <div class="c c--narrow">
    <p>There are around 40 groups, mostly volunteer led, offering an amazing amount of activities at a variety of locations in our little town. Marvellous Mossley is a platform to bring all of this together in one place through this website and also the printed Mossley Missive.</p>
    <p>We coordinate an annual celebration event and the great Mossley Mammoth Hunt along with other initiatives such as the Marvellous Mossley Pebble Dash. The project relies on ongoing grant funding to continue.</p>
    <p>We're working with <%= link_to 'local organisations', partners_path %> and <%= link_to 'places', places_path %> to create a great calendar of everything that's on in <%= @site.name %>.</p>
    <%= link_to "See what's on", events_path, class: "btn btn--lg btn--alt btn--mt" %>
  </div>
</section>

<section class="region region__management">
  <div class="title-strip">
    <h2 class="h2--alt">About Us</h2>
  </div>
  <div class="c c--narrow first-ele-h3">
    <p>If you&#39;re a local organisation and want to join our network, get in touch below.</p>
    <p>We provide training and support to help you publish your events and promote your activities.</p>
    <%= markdown @site.description %>
    <% if @site.site_admin.present? %>
      <%= render_component 'profile', user: @site.site_admin %>
    <% end %>
  </div>
</section>

<section class="region region__support">
  <!-- <div class="title-strip">
    <h2 class="h2--alt">Advice and support</h2>
  </div> -->
  <div class="c">
    <div class="g">
      <div class="gi gi__1-3">
        <%= render_component 'help_adding_events' %>
      </div>
      <div class="gi gi__1-3">
        <%= render_component 'help_getting_online', places: @places_to_get_online %>
      </div>
      <div class="gi gi__1-3">
        <%= render_component 'help_getting_help' %>
      </div>
    </div>
  </div>
</section>
