<p id="notice"><%= notice %></p>

<h1><%= @place.name %></h1>
<p><%= @place.address %></p>
<p><%= @place.short_description %></p>

<p>Event listing coming soon.</p>

<%= link_to 'Back to places', places_path %>
