<% content_for :title, @place.name %>
<% content_for :permalink, @place.permalink %>

<%= render_component "hero", title: "Places in Hulme & Moss Side", subtitle: "The Community Calendar" %>

<div class="c c--lg-space-after">
  <%= render_component "breadcrumb", trail: [['Places', places_path], [@place.name, place_path(@place)]] %>

  <hr>

  <div class="g g--place">
    <div class="gi gi__2-5">
      <h1 class="udl udl--red sans"><%= @place.name %></h1>

      <% if @place.short_description %>
        <div class="first-ele-lg"><%= markdown @place.short_description %></div>
      <% end %>

      <% if @place.partners.any? %>
        <p class="small">Run by <%= link_to "#{@place.partners.first}", partner_path(@place.partners.first) %>.</p>
      <% end %>
    </div>
    <div class="gi gi__3-5">
      <% if @map.length > 0 %>
        <%= render_component "map", points: @map %>                        
      <% end %>

      <%= render_component "place_info",
        name: @place.name,
        email: @place.email,
        phone: @place.phone,
        address: @place.address,
        url: @place.url
      %>
    </div>
  </div>

  <hr>

  <%= render_component "event_list", 
    events: @events,
    pointer: @current_day,
    period: @period,
    sort: @sort,
    path: "places/#{@place.id}/events",
    show_breadcrumb: false
  %>
</div>

<%= render_component "meta", permalink: @place.permalink do %>
  <%= link_to "Subscribe to #{@place}'s events with iCal", place_url(@place, protocol: :webcal, format: :ics) %>
<% end %>