<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <link rel="stylesheet" href="https://esm.sh/maplibre-gl@4.7.1/dist/maplibre-gl.css">
    <% if @site&.stylesheet_link %>
      <%= stylesheet_link_tag @site.stylesheet_link, media: 'all', 'data-turbo-track': 'reload' %>
    <% end %>
    <%= stylesheet_link_tag 'print', media: 'print', 'data-turbo-track': 'reload' %>
    <%= render "layouts/meta" %>
    <%= render "layouts/plausible" %>
    <%= javascript_include_tag "es-module-shims", async: true %>
    <%= javascript_importmap_tags "public" %>
    <meta name="turbo-refresh-method" content="morph">
  </head>

  <body>
    <div class="background">
      <header>
        <%= render(NavigationComponent.new(navigation: @navigation, site: @site)) %>
      </header>
      <main>
        <%= render(FlashComponent.new) %>
        <%= yield %>
      </main>
      <footer>
        <% if @site&.default_site? %>
          <%= render(HomeFooterComponent.new()) %>
        <% else %>
          <%= render(Footer.new(@site)) %>
        <% end %>
      </footer>
     </div>
  </body>
</html>
