<!DOCTYPE html>
<html>
  <head>
    <title>PlaceCal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Raleway:600,700,800|Trocchi', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render_component "navigation" %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= render_component "footer" %>
    </footer>
  </body>
</html>
