<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Trocchi', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if @site&.stylesheet_link %>
      <%= stylesheet_link_tag @site.stylesheet_link, media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= stylesheet_link_tag 'print', media: 'print', 'data-turbolinks-track': 'reload' %>

    <% if current_page?(root_url) && @site&.slug == 'default-site' %>
      <% title = 'PlaceCal | The Community Calendar' %>
    <% elsif content_for?(:title) && @site&.name %>
      <% title = yield(:title) + " | " + @site.name %>
    <% elsif content_for?(:title) %>
      <% title = yield(:title) %>
    <% elsif @site&.name %>
      <% title = @site.name %>
    <% else %>
      <% title = 'PlaceCal | The Community Calendar' %>
    <% end %>

    <title><%= title %></title>
    <meta property="og:title" content="<%= title %>" />
    <meta name="twitter:title" content="<%= title %>" />

    <%= render "layouts/meta" %>
    <%= render "layouts/plausible" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload", defer: true %>

  </head>

  <body>
    <div class="background">
      <header>
        <%= render_component "navigation", navigation: @navigation %>
      </header>
      <main>
        <%= render_component "admin_flash" %>
        <%= yield %>
      </main>
      <footer>
        <% if @site&.default_site? %>
          <%= render_component "footer_home" %>
        <% else %>
          <%= render_component "footer" %>
        <% end %>
      </footer>
     </div>
  </body>
</html>
