<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <% if @site&.stylesheet_link %>
      <%= stylesheet_link_tag @site.stylesheet_link, media: 'all', 'data-turbo-track': 'reload' %>
    <% end %>
    <%= stylesheet_link_tag 'print', media: 'print', 'data-turbo-track': 'reload' %>
    <%= render "layouts/meta" %>
    <%= render "layouts/plausible" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="background">
      <header>
        <%= render_component "navigation", navigation: @navigation %>
      </header>
      <main>
        <%= render_component "admin_flash" %>
        <%= yield %>
      </main>
      <footer>
        <% if @site&.default_site? %>
          <%= render(HomeFooterComponent.new()) %>
        <% else %>
          <%= render_component "footer" %>
        <% end %>
      </footer>
     </div>
  </body>
</html>
