<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Trocchi', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if @site&.stylesheet_link %>
      <%= stylesheet_link_tag @site.stylesheet_link, media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= stylesheet_link_tag 'print', media: 'print', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render "layouts/meta" %>
    <%= render "layouts/google_analytics" %>
  </head>

  <body>
    <div class="background">
      <header>
        <%= render_component "navigation", navigation: @navigation %>
      </header>
      <main>
        <%= yield %>
      </main>
      <footer>
        <% if @site.default_site? %>
          <%= render_component "footer_home" %>
        <% else %>
          <%= render_component "footer" %>
        <% end %>
      </footer>
     </div>
  </body>
</html>
