<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Trocchi', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <% if @site&.stylesheet_link %>
      <%= stylesheet_link_tag @site.stylesheet_link, media: 'all', 'data-turbo-track': 'reload' %>
    <% end %>
    <%= stylesheet_link_tag 'print', media: 'print', 'data-turbo-track': 'reload' %>

    <title>PlaceCal | Style Guide</title>

    <%= render "layouts/meta" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <div class="background">
      <main>
        <%= yield %>
      </main>
     </div>
  </body>
</html>
