<%= simple_form_for [:admin, @site], html: { class: "form-horizontal" } do |f| %>
  <%= f.input :name %>
  <%= f.input :domain %>
  <%= f.input :slug %>
  <%= f.input :description, input_html: { rows: 5 } %>

  <%= f.association :site_admin, label_method: :admin_name %>

  <h3>Images</h3>
  <p><em>Logos should be SVG format</em></p>

  <%= f.input :logo %>

  <%= image_tag f.object.logo, class: 'card-img-top' %>

  <%= f.input :footer_logo %>
  <div style="background-color: #5b4e46; padding: 1rem">
    <%= image_tag f.object.footer_logo, class: 'card-img-top' %>
  </div>


  <%= f.input :hero_image %>
  <p><em>Header images should be 2260x700</em></p>

  <%= image_tag f.object.hero_image, style: 'max-width: 300px' %>

  <%= f.input :hero_image_credit %>
  <p><em>Who took this photo?</em></p>

  <h3>Primary Turf</h3>

  <%= f.fields_for :sites_turf do |st|%>
    <%= st.select :turf_id, options_from_collection_for_select(@turfs, 'id', 'name', st.object.turf_id), class: 'form-control' %>
    <%= st.hidden_field :relation_type, value: "Primary" %>
  <% end %>

  <h3>Secondary Turfs</h3>

  <% @turfs.each do |t| %>
    <%= fields_for "site[sites_turfs_attributes][#{t.id}]" do |st|%>
      <label>
        <%= st.check_box :turf_id, {include_hidden: false, checked: (@sites_turfs.include?(t.id) unless @sites_turfs.nil? ) }, t.id %>
        <%= t.name %>
        <%= st.hidden_field :relation_type, value: "Secondary" %>
      </label><br>
    <% end %>
  <% end %>

  <%= f.button :submit, class: "btn btn-primary " %>
  <% unless @site.new_record? %>
    <%= link_to "Destroy Site", admin_site_path(@site), method: :delete, class: "btn btn-danger" %>
  <% end %>
<% end %>
