<%= simple_form_for [:admin, @site], html: { data: { controller: 'form-tabs live-validation', 'form-tabs-storage-key-value': 'siteTabAfterSave' } } do |f| %>
  <%= render(Admin::ErrorComponent.new(@site)) %>

  <%# Radio Tabs - daisyUI tabs-lift %>
  <div class="tabs tabs-lift">
    <%= render Admin::TabPanelComponent.new(
      name: 'site_tabs',
      label: 'ðŸ“‹ Basic Info',
      hash: 'basic',
      controller_name: 'form-tabs',
      checked: true
    ) do %>
      <%= render 'form_tab_basic', f: f %>
    <% end %>

    <%= render Admin::TabPanelComponent.new(
      name: 'site_tabs',
      label: 'ðŸ–¼ï¸ Images',
      hash: 'images',
      controller_name: 'form-tabs'
    ) do %>
      <%= render 'form_tab_images', f: f %>
    <% end %>

    <%= render Admin::TabPanelComponent.new(
      name: 'site_tabs',
      label: 'ðŸ“ Neighbourhoods',
      hash: 'neighbourhoods',
      controller_name: 'form-tabs'
    ) do %>
      <%= render 'form_tab_neighbourhoods', f: f %>
    <% end %>

    <%= render Admin::TabPanelComponent.new(
      name: 'site_tabs',
      label: 'ðŸ·ï¸ Partnerships',
      hash: 'partnerships',
      controller_name: 'form-tabs'
    ) do %>
      <%= render 'form_tab_partnerships', f: f %>
    <% end %>

    <% unless @site.new_record? %>
      <%= render Admin::TabPanelComponent.new(
        name: 'site_tabs',
        label: 'ðŸ‘ï¸ Preview',
        hash: 'preview',
        controller_name: 'form-tabs'
      ) do %>
        <%= render 'form_tab_preview' %>
      <% end %>
    <% end %>

    <%# Spacer to push Admin tab right %>
    <div class="tab flex-1 cursor-default"></div>

    <%= render Admin::TabPanelComponent.new(
      name: 'site_tabs',
      label: 'âš™ï¸ Settings',
      hash: 'settings',
      controller_name: 'form-tabs'
    ) do %>
      <%= render 'form_tab_settings', f: f %>
    <% end %>
  </div>

  <%= render Admin::SaveBarComponent.new(
    multi_step: true,
    tab_name: 'site_tabs',
    settings_hash: 'settings',
    preview_hash: 'preview',
    storage_key: 'siteTabAfterSave'
  ) %>
<% end %>
