<%= simple_form_for [:admin, @site] do |f| %>
  <%= f.input :name %>
  <%= f.input :place_name %>
  <%= f.input :tagline %>
  <%= f.input :domain %>
  <%= f.input :slug %>
  <%= f.input :description, input_html: { rows: 5 } %>

  <%= f.association :site_admin, label_method: :admin_name %>

  <h2>Images</h2>
  <p><em>Logos should be SVG or PNG format</em></p>

  <%= f.input :logo %>

  <%= image_tag f.object.logo.url, class: 'card-img-top' if f.object.logo.url %>

  <%= f.input :footer_logo %>
  <div style="background-color: #5b4e46; padding: 1rem">
    <%= image_tag f.object.footer_logo.url, class: 'card-img-top' if f.object.footer_logo.url %>
  </div>


  <%= f.input :hero_image %>
  <p><em>Header images should be 2260x700</em></p>

  <%= image_tag f.object.hero_image.url, style: 'max-width: 300px' if f.object.hero_image.url %>

  <%= f.input :hero_image_credit %>
  <p><em>Who took this photo?</em></p>

  <h2>Main neighbourhood</h2>

  <%= f.fields_for :sites_neighbourhood do |sn| %>
    <% if @primary_neighbourhood_id %>
      <p><%= @all_neighbourhoods.find(@primary_neighbourhood_id).name %></p>
    <% else %>
      <%= sn.hidden_field :relation_type, value: "Primary" %>
      <%= sn.select :neighbourhood_id, options_from_collection_for_select(@all_neighbourhoods, 'id', 'name', @primary_neighbourhood_id), class: 'form-control', include_blank: true %>
    <% end %>
  <% end %>

  <h2>Other neighbourhoods to include</h2>

  <% @all_neighbourhoods.each do |neighbourhood| %>
    <%= fields_for "site[sites_neighbourhoods_attributes][#{neighbourhood.id}]" do |sna|%>
      <label>
        <%- if (@secondary_neighbourhood_ids.include?(neighbourhood.id)) %>
          <%= sna.hidden_field :id, value: @sites_neighbourhoods_ids[neighbourhood.id] %>
          <%# if box is unchecked, this will result in the removal of the association %>
          <%= sna.check_box :_destroy, {checked: true}, false, true %>
        <% else %>
           <%= sna.check_box :neighbourhood_id, {include_hidden: false, checked: false}, neighbourhood.id %>
           <%= sna.hidden_field :relation_type, value: "Secondary" %>
        <% end %>
        <%= neighbourhood.name %>
      </label><br>
    <% end %>
  <% end %>

  <%= f.button :submit, class: "btn btn-primary " %>
  <% unless @site.new_record? %>
    <%= link_to "Destroy Site", admin_site_path(@site), method: :delete, class: "btn btn-danger" %>
  <% end %>
<% end %>
