<%= simple_form_for [:admin, @site] do |f| %>
  <%= render_component "error", object: @site %>
  <%= f.input :name %>
  <%= f.input :place_name %>
  <%= f.input :tagline %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :domain if policy(@site).permitted_attributes.include? :domain %>
    </div>
    <div class="col-md-6">
      <%= f.input :slug if policy(@site).permitted_attributes.include? :slug %>
    </div>
  </div>
  <%= f.input :description, input_html: { rows: 5 } %>

  <%= f.input :is_published, label: 'Published', hint: 'Advertise this site on the PlaceCal homepage?', as: :boolean %>

  <%= f.association :site_admin, label_method: :admin_name if policy(@site).permitted_attributes.include? :site_admin_id %>

  <h2>Images</h2>

  <% if policy(@site).permitted_attributes.include? :theme %>
    <%= f.input :theme, collection: Site.theme.values, include_blank: false %>
  <% end %>

  <% if policy(@site).permitted_attributes.include? :logo %>
    <p><em>Logos should be SVG or PNG format</em></p>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :logo %>
        <%= image_tag f.object.logo.url, class: 'card-img-top' if f.object.logo.url %>
      </div>
      <div class="col-md-6">
        <%= f.input :footer_logo %>
        <div style="background-color: #5b4e46; padding: 1rem">
          <%= image_tag f.object.footer_logo.url, class: 'card-img-top' if f.object.footer_logo.url %>
        </div>
      <% end %>
      </div>
    </div>

  <%= f.input :hero_image %>
  <p><em>Header images should be 2260x700</em></p>

  <%= image_tag f.object.hero_image.url, style: 'max-width: 300px' if f.object.hero_image.url %>

  <%= f.input :hero_image_credit %>
  <p><em>Who took this photo?</em></p>

  <h2>Main neighbourhood</h2>
  <p class="font-weight-light">This neighbourhood will be listed in the main PlaceCal directory. It cannot be changed after the site is created.</p>

  <%= f.simple_fields_for :sites_neighbourhood do |sn| %>
    <% if @primary_neighbourhood_id %>
      <h3><span class="badge badge-secondary"><%= @all_neighbourhoods.find(@primary_neighbourhood_id).contextual_name %></span></h3>
      <%= sn.hidden_field :relation_type, value: "Primary" %>
      <%= sn.hidden_field :neighbourhood_id, value: @primary_neighbourhood_id %>
    <% else %>
      <%= sn.hidden_field :relation_type, value: "Primary" %>
      <%= sn.input :neighbourhood_id, collection: options_for_sites_neighbourhoods, include_blank: false,
          value_method: ->(obj) { obj[:id] }, label_method: ->(obj) { obj[:name] },
          input_html: { class: 'form-control select2 col-6' },
          label: '', label_html: { hidden: true } %>
    <% end %>
  <% end %>
  <br />

  <h2>Other neighbourhoods to include</h2>
  <p class="font-weight-light">Information from these neighbourhoods will also be displayed on this site</p>

  <div class="sites_neighbourhoods">
    <%= f.simple_fields_for :sites_neighbourhoods do |neighbourhood| %>
      <%= render 'sites_neighbourhood_fields', :f => neighbourhood %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add neighbourhood', f, :sites_neighbourhoods, class: "btn btn-primary btn-sm" %>
    </div>
    <br></br>
  </div>

  <%= f.button :submit, class: "btn btn-primary btn-lg" %>
  <% unless @site.new_record? %>
    <%= link_to "Destroy Site", admin_site_path(@site), method: :delete, class: "btn btn-danger btn-lg" %>
  <% end %>
<% end %>
