<%= simple_form_for [:admin, @site], html: { class: "form-horizontal" } do |f| %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="form-group">
        <label>Name</label>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :domain %>
        <%= f.text_field :domain, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :description %>
        <%= f.text_area :description, class: "form-control", rows: 5 %>
      </div>
      <div class="form-group">
        <%= f.association :site_admin, label_method: :admin_name %>
      </div>
      <div class="form-group">
        <%= label_tag :logo %>
        <%= f.file_field :logo %>
        <p><em>Logos should be SVG format</em></p>
      </div>
      <div class="form-group">
        <%= label_tag :hero_image %>
        <%= f.file_field :hero_image %>
        <p><em>Header images should be 2260x700</em></p>
      </div>
      <div class="form-group">
        <%= label_tag :hero_image_credit %>
        <%= f.text_field :hero_image_credit %>
        <p><em>Who took this photo?</em></p>
      </div>
      <div class="form-group">
        <label>Primary Turf</label>
        <%= f.fields_for :sites_turf do |st|%>
          <%= st.select :turf_id, options_from_collection_for_select(@turfs, 'id', 'name', st.object.turf_id), class: 'form-control' %>
          <%= st.hidden_field :relation_type, value: "Primary" %>
        <% end %>
      </div>
      <div class="form-group">
        <label>Secondary Turfs</label>
        <% @turfs.each do |t| %>
          <%= fields_for "site[sites_turfs_attributes][#{t.id}]" do |st|%>
          <%= t.name %>
            <%= st.check_box :turf_id, {include_hidden: false, checked: (@sites_turfs.include?(t.id) unless @sites_turfs.nil? ) }, t.id %>
            <%= st.hidden_field :relation_type, value: "Secondary" %>
          <% end %>
        <% end %>
      </div>
      <%= f.submit "Save", class: "btn btn-primary " %>
      <% unless @site.new_record? %>
        <%= link_to "Destroy Site", admin_site_path(@site), method: :delete, class: "btn btn-danger" %>
        <% end %>
    </div>
  </div>
<% end %>
