<% if !@site.new_record? && policy(@site).show? %>
<p><%= link_to 'Show all site calendars', admin_site_path(@site) %></p>
<% end %>

<%= simple_form_for [:admin, @site] do |f| %>
  <%= render_component "error", object: @site %>
  <%= f.input :name %>
  <%= f.input :place_name %>
  <%= f.input :tagline %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :domain if policy(@site).permitted_attributes.include? :domain %>
    </div>
    <div class="col-md-6">
      <%= f.input :slug if policy(@site).permitted_attributes.include? :slug %>
    </div>
  </div>
  <%= f.input :hero_text, hint: 'Large text for the banner with image on the homepage, up to 120 characters', input_html: { rows: 5 } %>
  <%= f.input :description, input_html: { rows: 5 } %>

  <%= f.input :is_published, label: 'Published', hint: 'Advertise this site on the PlaceCal homepage?', as: :boolean %>

  <% if policy(@site).permitted_attributes.include? :site_admin_id %>
    <%= f.association(:site_admin, label_method: :admin_name, input_html: { data: { controller:  'select2' } }) %>
  <% end %>


  <h2>Images</h2>

  <% if policy(@site).permitted_attributes.include? :theme %>
    <%= f.input :theme, collection: Site.theme.values, include_blank: false %>
  <% end %>

  <% if policy(@site).permitted_attributes.include? :logo %>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :logo, hint: image_uploader_hint(@site.logo) %>
        <%= image_tag f.object.logo.url, class: 'card-img-top' if f.object.logo.url %>
      </div>
      <div class="col-md-6">
        <%= f.input :footer_logo, hint: image_uploader_hint(@site.footer_logo) %>
        <div style="background-color: #5b4e46; padding: 1rem">
          <%= image_tag f.object.footer_logo.url, class: 'card-img-top' if f.object.footer_logo.url %>
        </div>
      </div>
    </div>
  <% end %>

  <%= f.input :hero_image, hint: image_uploader_hint(@site.hero_image) %>
  <p><em>Header images should be 2260x700</em></p>

  <%= image_tag f.object.hero_image.url, style: 'max-width: 300px' if f.object.hero_image.url %>

  <%= f.input :hero_image_credit %>
  <p><em>Who took this photo?</em></p>

  <h2>Neighbourhood information</h2>

  <div class="row">
    <div class="col-md-6">
      <h3>Main neighbourhood</h3>
      <p class="font-weight-light">This neighbourhood will be listed in the main PlaceCal directory. It cannot be changed after the site is created.</p>

      <%= f.simple_fields_for :sites_neighbourhood do |sn| %>
        <% primary_neighbourhood = (@all_neighbourhoods.where(id: @primary_neighbourhood_id).first if @primary_neighbourhood_id.present?) %>
        <% if primary_neighbourhood.present? %>
          <h3>
            <span class="badge badge-secondary">
              <%= primary_neighbourhood.contextual_name %>
              <% if primary_neighbourhood.legacy_neighbourhood? %>
                (<%= primary_neighbourhood.release_date.year %>/<%= primary_neighbourhood.release_date.month %>)
              <% end %>
            </span>
          </h3>
          <%= sn.hidden_field :relation_type, value: "Primary" %>
          <%= sn.hidden_field :neighbourhood_id, value: primary_neighbourhood.id %>
          <% if primary_neighbourhood.legacy_neighbourhood? %>
          <p>
            Warning: This neighbourhood not from the current release
            (<%= primary_neighbourhood.release_date.year %>/<%= primary_neighbourhood.release_date.month %>).
            Please contact a PlaceCal admin.
          </p>
          <% end %>
        <% else %>
          <%= sn.hidden_field :relation_type, value: "Primary" %>
          <%= sn.input :neighbourhood_id, collection: options_for_sites_neighbourhoods(@site), include_blank: false,
              value_method: ->(obj) { obj[:id] }, label_method: ->(obj) { obj[:name] },
              input_html: { class: 'form-control col-6', data: { controller: "select2" } },
              label: '', label_html: { hidden: true } %>
        <% end %>
      <% end %>
  </div>
    <div class="col-md-6">
      <h3>Neighbourhood information display</h3>
      <p class="font-weight-light">What level of geographical zoom should PlaceCal display on partners and events?</p>
      <%= f.input :badge_zoom_level,
        as: :radio_buttons,
        label_method: ->(val){ Site.badge_zoom_level_label(val) } %>
    </div>
  </div>
  <br>

  <h3>Other neighbourhoods to include</h3>
  <p class="font-weight-light">Information from these neighbourhoods will also be displayed on this site</p>

  <div class="sites_neighbourhoods">
    <%= f.simple_fields_for :sites_neighbourhoods do |neighbourhood| %>
      <%= render 'sites_neighbourhood_fields', :f => neighbourhood %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add neighbourhood', f, :sites_neighbourhoods, class: "btn btn-primary btn-sm" %>
    </div>
    <br></br>
  </div>

  <h2>Tags</h2>

    <h2>Tags</h2>

    <div class="row">
      <div class="col-md-6">
        <p class="font-weight-light">Only show partners with these tags</p>
        <% if policy(@site).permitted_attributes.include? :tags %>
          <%= f.association :tags,
                            label: false,
                            collection: options_for_tags,
                            input_html: { class: 'form-check', data: { controller: "select2" } } %>
        <% else %>
          <ul>
            <% @site.tags.each do |t| %>
              <li><%= t.name %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <br>
    <br>


  <%= f.button :submit, class: "btn btn-primary btn-lg" %>
  <% unless @site.new_record? %>
    <%= link_to "Destroy Site", admin_site_path(@site), method: :delete, class: "btn btn-danger btn-lg" %>
  <% end %>
  <br>
<% end %>
